<div id="container" class="container" style="padding-top: 60px;">

  <div class="box box-main">
    <h2> Login with OAuth </h2>
    <p>
      <a class="btn btn-c3" href="/api/auth/myusa">MyUSA</a>
      <a class="btn btn-c3" href="/api/auth/oauth2">OAuth2 Test Server</a>
    </p>
    <hr/>
    <h2> Login with Username/Password </h2>
    <p>

    <form class="form-inline" action="/api/auth/local" method="post">
      <input type="text" class="form-control" style="width:180px;" name="username" id="username" placeholder="Username"/>
      <input type="password" class="form-control" style="width:180px;" name="password" id="password" placeholder="Password"/>
      <button type="submit" class="btn btn-c3">Sign in</button>
    </form>
  </div>

</div>