<h1>Opportunity: <%- opportunityTitle  %></h1>
<p>Description: <%- opportunityDescription  %></p>
<p><%- opportunityMadlibs  %></p>
<p>Your colleague wanted to let you know about this great opportunity to help a colleague. Click on the link to find out more.</p>
<p><%- opportunityLink  %></p>
