.select2-container-multi .select2-choices .select2-search-field {
  width: 100%;
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin: 5px 0 3px 5px;
}

.select2-container-multi .select2-choices {
  border-color: #ccc;
  border-radius: 3px;
}

.select2-result-description {
  font-size: 11px;
  max-height: 2.5em;
  color: #606060;
  overflow-y: hidden;
}

.select2-highlighted .select2-result-description {
  color: #e0e0e0;
}

.select2-result-description p {
  margin: -1px 0;
}
