<p>Hello,</p>
<p>Someone commented in your project! They said:</p>
<blockquote>
  <%- callerComment  %>
</blockquote>
<p class="center full-width">
  <a href="<%= projectLink %>" class="btn btn-c2" bgcolor="39B7EA">View Project</a>
</p>
<p>Thanks!
  <br/>
  - The <%= globals.systemName %> Team
</p>
