<footer class="container center">
  <% if (ui.contact) { %>
  Questions? Contact us: <a href="<%- ui.contact.link %>" target="_blank"><%- ui.contact.name %></a>
  |
  <% } %>
  Version <a target="_blank"
  href="<%- versionLink %>"><%- version %></a>
  <% if (login.terms.enabled === true) { %>
  |
  <a href="<%- login.terms.link %>"><%- login.terms.name %></a>
  <% } %>
  |
  Locations provided by <a target="_blank" href="http://www.geonames.org/">GeoNames</a>
  |
  <a target="_blank" href="https://github.com/openopps/openopps-platform"><i class="fa fa-github"></i> Powered by open source</a>
</footer>
