<div class="container">
<h3> Test File Upload </h3>
<form enctype="multipart/form-data" action="/file/create" method="POST">
Choose a file to upload: <input name="file" type="file" /><br />
<input type="submit" class="btn btn-primary" value="Upload File" />
</form>
</div>