<h1>Project: <%- projectTitle %></h1>
<p>Someone replied to you! Click the link below to see the entire discussion.</p>
<p><%- projectLink %></p>
<p>Comment: <%- parentComment %></p>
<p>New Reply: <%- callerComment  %></p>
