<div class="modal-body">

  <% if (message) { %>
  <div class="alert alert-warning">
    <%= message %>
  </div>
  <% } %>

  <% if (login.oauth.length > 0) { %>
  <div class="login-oauth">Log in or Register with
  <% _.each(login.oauth, function (e) { %>
  <div class="login-option">
    <a href="<%= e.endpoint %>" class="btn btn-c0 btn-login">
    <img src="<%= e.image %>" alt="<%= e.name %>"/>
    </a>
  </div>
  <% }); %>
  </div>
  <% } %>

  <% if (login.local.enabled === true) { %>
    <% if (login.oauth.length > 0) { %>
    <hr/>
    <% } %>
    <div class="login-oauth">
      <% if (login.oauth.length > 0) { %>
      or
      <% } %>
      <% if (login.local.expand !== true) { %><a href="#" id="login-password"><% } %>Log In<% if (login.local.expand !== true) { %></a><% } %>
      or
      <a href="#" id="login-register">Register</a>
      with your email address
    </div>
    <div class="alert alert-danger" id="login-error" style="display:none;"></div>
    <div class="login-form" <% if (login.local.expand !== true) { %>style="display:none;"<% } %>>
      <form class="form-inline" id="login-password-form">
        <input type="text" class="form-control" style="width:180px;" name="username" id="username" placeholder="Email Address"/>
        <input type="password" class="form-control" style="width:180px;" name="password" id="password" placeholder="Password"/>
        <button type="submit" class="btn btn-c2">Sign in</button>
      </form>
    </div>
  <% } %>

</div>