<div class="modal-body">

  <% if (login.oauth.length > 0) { %>
  <div class="login-oauth">Sign in using
  <% _.each(login.oauth, function (e) { %>
  <div class="login-option">
    <a href="<%= e.endpoint %>" class="btn btn-c0 btn-login">
    <img src="<%= e.image %>" alt="<%= e.name %>"/>
    </a>
  </div>
  <% }); %>
  </div>
  <% } %>

  <% if (login.local === true) { %>
    <hr/>
    <div class="login-oauth">
      or <a href="#" id="login-password">log in with username and password</a>.
    </div>
    <div class="alert alert-danger" id="login-error" style="display:none;"></div>
    <div class="login-form" style="display:none;">
      <form class="form-inline" id="login-password-form">
        <input type="text" class="form-control" style="width:180px;" name="username" id="username" placeholder="Email Address"/>
        <input type="password" class="form-control" style="width:180px;" name="password" id="password" placeholder="Password"/>
        <button type="submit" class="btn btn-c2">Sign in</button>
      </form>
    </div>
  <% } %>

</div>