<div class="row">
  <div class="col-sm-9 sm-nopadding">
    <div class="form-group">
      <label for="rpassword" class="control-label">Password</label>
      <input type="password" class="form-control validate" id="rpassword" name="password" placeholder="Password" data-validate="empty,password,confirm"/>
      <span class="help-block error-empty" style="display:none;">You must enter a password.</span>
      <span class="help-block error-password" style="display:none;">Your password does not meet password rules.</span>
    </div>
    <div class="form-group">
      <label for="rpassword-confirm" class="control-label">Confirm Password</label>
      <input type="password" class="form-control" id="rpassword-confirm" placeholder="Confirm Password"/>
      <span class="help-block error-confirm" style="display:none;">Your password does not match the password entered above.</span>
    </div>
  </div>
  <div class="col-sm-3 nopadding">
    <div class="password-rules-title">
      Must Contain:
    </div>
    <ul class="password-rules">
      <li class="success rule-username"><i class="fa fa-check"></i> Not your email</li>
      <li class="error rule-username"><i class="fa fa-remove"></i> Not your email</li>
      <li class="success rule-length"><i class="fa fa-check"></i> 8 characters or more</li>
      <li class="error rule-length"><i class="fa fa-remove"></i> 8 characters or more</li>
      <li class="success rule-upper"><i class="fa fa-check"></i> Uppercase</li>
      <li class="error rule-upper"><i class="fa fa-remove"></i> Uppercase</li>
      <li class="success rule-lower"><i class="fa fa-check"></i> Lowercase</li>
      <li class="error rule-lower"><i class="fa fa-remove"></i> Lowercase</li>
      <li class="success rule-number"><i class="fa fa-check"></i> A Number</li>
      <li class="error rule-number"><i class="fa fa-remove"></i> A Number</li>
      <li class="success rule-symbol"><i class="fa fa-check"></i> A Symbol</li>
      <li class="error rule-symbol"><i class="fa fa-remove"></i> A Symbol</li>
    </ul>
  </div>
</div>
