.dashboard {
  font-size: 18px;
}

.dashboard h2 {
  color: #297bb5;
}

.badges-feed h2 {
  color: #df3403;
}

.box-banner {
  background-color: #0e5487;
}

.box-banner h1 {
  color: #fff;
  font-size: 24px;
  line-height: 1.7em;
  margin-bottom: 0;
  text-align: right;
}

.opportunity-count--number {
  font-size: 48px;
}

.opportunity-count--number.loaded {
  vertical-align: middle;
}

@media (max-width: 1000px) {
  .box-banner h1,
  .box-banner .col-md-4 {
    text-align: center;
  }
}

.box-banner .btn {
  padding: 1em 2em;
}

.activity-feed--item {
  padding-bottom: .5em;
  padding-top: .5em;
}

.activity-feed--item:after {
  display: table;
  content: '';
  clear: both;
}

.activity-feed--item ul {
  margin-left: 2.2em;
}

.activity-feed--badge {
  background-position: center;
  background-size: contain;
  margin-top: -5px;
  min-height: 50px;
  width: 50px;
}

.activity-feed--avatars {
  margin-top: .3em;
}

.activity-feed--avatars::before,
.activity-feed--avatars::after {
  content: " ";
  display: table;
}

.activity-feed--avatars::after {
  clear: both;
}

.activity-feed--avatar {
  background-position: center;
  background-size: contain;
  border-radius: 100%;
  float: left;
  margin-right: .3em;
  min-height: 40px;
  width: 40px;
}

@media (max-width: 768px) {
  .activity-feed--text {
    width: 80%;
  }
}

.network-stats--heading {
  margin-top: 20px;
}

.tasks-completed {
  text-align: center;
}

.tasks-completed input {
  border: none;
  color: #2e8540;
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.tasks-completed label {
  font-size: 14px;
  font-weight: 300;
}

.see-more-tasks {
  text-align: center !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  display: block;
}

.dashboard__task-list .col {
  float: none;
  width: 100% !important;
}
