.clear {
  clear: both;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-x th {
  white-space: pre-line;
}

.navbar-toggle {
  margin-top: 18px;
}

.search-result-row:hover {
  background: #ccc;
}

.seperator {
  margin: 10px 0 10px 0;
}

.search-result-row {
  min-width: 200px;
  height: 40px;
  background: #eee;
  border-bottom: 1px #000 solid;
}

.box {
  padding: 10px 0;
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.equal-box {
  padding: 10px;
}

.tight-box {
  margin-bottom: 10px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.box-main {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.box-pad-lr {
  padding-left: 20px;
  padding-right: 20px;
}

.box-pad-t {
  padding-top: 10px;
}

.box-pad-b {
  padding-bottom: 10px;
}

.box-icon-text {
  margin-left: 5px;
}

.border-none {
  border: 0;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.border-left {
  border-left: 2px solid #e5e5e5;
}

.padding-none {
  padding: 0;
}

.padding-left-none {
  padding-left: 0;
}

.padding-right-none {
  padding-right: 0;
}

.nopadding {
  padding-left: 0;
  padding-right: 0;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.nomargin {
  margin-left: 0;
  margin-right: 0;
}

.margin-bottom-none {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .sm-nopadding {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {
  .md-nopadding {
    padding-left: 0;
    padding-right: 0;
  }
  .md-nopadding-left {
    padding-left: 0;
  }
  .md-nopadding-right {
    padding-right: 0;
  }
}

.fullwidth {
  width: 100%;
}

.align-right {
  text-align: right;
}

input[type="submit"] {
  font-weight: 700;
}

.btn.wizard-submit,
.btn.wizard-forward {
  font-weight: 700;
}

.container > .server-alert {
  margin-left: -20px;
  margin-top: 20px;
}

.admin-container .pagination {
  margin: 0;
}

.admin-container .fullwidth {
  width: 100%;
}

.admin-user-checkbox {
  width: 15px;
}

.admin-user-id {
  width: 10px;
}

.admin-container .spinner {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul.metrics {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.metrics > li {
  font-size: 14px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 2px;
  margin-right: 5px;
}

ul.metrics > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 8px;
}

ul.metrics > ul > li {
  font-size: 12px;
  padding-left: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 2px;
}

.task-metrics-table th:first-child {
  text-align: left;
}

.task-metrics-table th {
  text-align: right;
}

.task-metrics-table td {
  width: 15%;
  text-align: right;
}
