[submodule "assets/js/vendor/select2"]
	path = assets/js/vendor/select2
	url = https://github.com/ivaynberg/select2.git
[submodule "assets/js/vendor/async"]
	path = assets/js/vendor/async
	url = https://github.com/caolan/async.git
[submodule "public/vendor/requirejs"]
	path = public/vendor/requirejs
	url = https://github.com/jrburke/requirejs.git
[submodule "assets/js/vendor/jquery-timepicker"]
	path = assets/js/vendor/jquery-timepicker
	url = https://github.com/jonthornton/jquery-timepicker.git
[submodule "assets/js/vendor/bootstrap-datetimepicker"]
	path = assets/js/vendor/bootstrap-datetimepicker
	url = https://github.com/Eonasdan/bootstrap-datetimepicker.git
[submodule "assets/js/vendor/moment"]
	path = assets/js/vendor/moment
	url = https://github.com/moment/moment.git
[submodule "assets/js/vendor/jquery-dotdotdot"]
	path = assets/js/vendor/jquery-dotdotdot
	url = https://github.com/BeSite/jQuery.dotdotdot.git
[submodule "assets/js/vendor/jquery-file-upload"]
	path = assets/js/vendor/jquery-file-upload
	url = https://github.com/blueimp/jQuery-File-Upload.git
[submodule "assets/js/vendor/requirejs-plugins"]
	path = assets/js/vendor/requirejs-plugins
	url = https://github.com/millermedeiros/requirejs-plugins.git
[submodule "assets/js/vendor/marked"]
	path = assets/js/vendor/marked
	url = https://github.com/chjj/marked.git
[submodule "assets/js/vendor/jquery-selection"]
	path = assets/js/vendor/jquery-selection
	url = https://github.com/madapaja/jquery.selection.git
[submodule "assets/js/vendor/autolinker"]
	path = assets/js/vendor/autolinker
	url = https://github.com/gregjacobs/Autolinker.js.git
