lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
# Ignore modules, should be built using `node install`
node_modules
# Ignore sails.js filesystem database
.tmp/

# Ignore editor temp files
*~
*#

.DS_STORE
.tmp
*.idea