lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
# Ignore modules, should be built using `node install`
node_modules
# Ignore sails.js filesystem database
.tmp/

# Ignore the configuration files
config/local.js
config/settings/auth.js
config/settings/sources.js
config/settings/tags.js
config/settings/emailTemplates.js
config/settings/notifications.js

# Ignore production files
assets/prod/js
assets/prod/css
assets/prod/font
assets/prod/fonts

# Ignore vagrant & chef tmp files
.vagrant/*
chef/cookbooks/*

# Ignore editor temp files
*~
*#
*.bak

.DS_STORE
.tmp
*.idea

# ruby version manager
.rvmrc

