  <div class="container dashboard" id="container">
    <div class="row box box-banner" id="opportunity-count">
      <div class="col-md-8">
        <h1>There are <span class="opportunity-count--number">many</span> open opportunities right now.</h1>
      </div>
      <div class="col-md-4">
        <a href="/tasks" class="btn btn-large btn-primary btn-inverse">Find yours</a>
      </div>
    </div>
    <div class="row box">
      <div data-target="badges-feed" class="badges-feed col-md-8 box-pad-lr box-border-right">

      </div>
      <div class="col-md-4 box-pad-lr">
        <div data-target="users-feed" class="users-feed">

        </div>
        <div data-target="network-stats" class="network-stats box-border-top">

        </div>
      </div>
    </div>


  </div><!-- /.container-fluid-->
