<h2>Latest Achievements</h2>
<ul class="activity-feed list-unstyled">
  <% _.forEach(badges, function(b) { %>
    <li>

      <div class="activity-feed--item">
        <% var ps = b.participants.map(function(p) { %>
          <% return '<a href="/profile/' + _.escape(p.id) + '">' + _.escape(p.name) + '</a>' %>
        <% }); %>
        <% if (b.participants.length === 1) var pText = ps; %>
        <% if (b.participants.length === 2) var pText = ps.join(' and '); %>
        <% if (b.participants.length > 2) { %>
          <% var last  = ps.slice(-1); %>
          <% var rest  = ps.slice(0, -1).join(', '); %>
          <% var pText = [rest, last].join(', and '); %>
        <% } %>
        <div class="activity-feed--text">
          <a href="/tasks/<%- b.id %>"><%- b.title %></a> was completed with the help of <%= pText %>.
        </div>

        <div class="activity-feed--avatars">
          <% b.participants.map(function(p, i) { %>
            <a href="/profile/<%- p.id %>">
              <div class="activity-feed--avatar" style="background-image: url(/api/user/photo/<%- p.id %>);left: <%- i * 10 %>px">&nbsp;</div>
            </a>
          <% }); %>
        </div>

        <% if ( b.badges.length > 0 ) { %>
        <ul class="list-unstyled">
          <% b.badges.forEach( function( badge ) { %>
            <li>
              <% badge.type = badge.type.replace( ' ', '-' ); %>
              <a href="/profile/<%- badge.user.id %>"><%- badge.user.name %></a> earned the <%- badge.type %> badge. <%- badge.description %>
              <img class="activity-feed--badge" src="/images/badges/<%- badge.type %>.png" alt="The <%- badge.type %> badge is awarded when you <%- badge.description %>" title="The <%- badge.type %> badge is awarded when you <%- badge.description %>">
            </li>
          <% } ); %>
        </ul>
        <% } %>

      </div>

    </li>

  <% }); %>
</ul>
