  <div class="container" id="container">
    <div class="row box box-banner" id="opportunity-count">
      <div class="col-md-8">
        <h1>There are <span>many</span> open opportunities right now.</h1>
      </div>
      <div class="col-md-4">
        <a href="/tasks" class="btn btn-large btn-primary">Find yours</a>
      </div>
    </div>
    <div class="row box">
      <div data-target="badges-feed" class="col-md-8 box-pad-lr">

      </div>
      <div class="col-md-4 box box-pad-lr">
        <div data-target="users-feed">

        </div>
        <div data-target="network-stats">

        </div>
      </div>
    </div>


  </div><!-- /.container-fluid-->
