  <span id='modal_target'></span>
  <div class="container-fluid padding-left-none padding-right-none" id="home">
    <div class="splash-wrap" id="splash1">
      <div class="splash-center">
      <h1 class="text-center" data-i18n="home.headline">Hassle Free Collaboration</h1>
      <p class="lead text-center" data-i18n="home.subhead">Work with other federal employees on projects you are passionate about.</p>
      <div class="text-center"><a class="login" href="/auth"><button class="btn btn-midas" id="center" data-i18n="home.callToAction">Get Started Today</button></a></div>
      <!--div class="text-center text-on-dark text-muted"><a href="#">Learn More</a></div-->
    </div><!-- /#splash -->
    </div><!-- /.splash-wrap -->

  <div class="inline-block-center">
    <div class="value-prop">
        <div class="icon"><i class="fa fa-comments"></i></div> <!-- icon -->
        <div class="text">Make Connections</div>
    </div>
    <div class="value-prop">
        <div class="icon"><i class="fa fa-cogs"></i></div> <!-- icon -->
        <div class="text">Build Skills</div>
    </div>
    <div class="value-prop">
        <div class="icon"><i class="fa fa-line-chart"></i></div> <!-- icon -->
        <div class="text">Make a Difference</div>
    </div>
  </div>
  <div class="text-center"><a class="login" href="/auth"><button class="btn btn-midas" id="center" data-i18n="home.callToAction">Get Started Today</button></a></div>


  </div><!-- /.container-fluid-->
