  <div class="container-fluid padding-left-none padding-right-none" id="home">
    <div class="splash-wrap" id="splash1">
      <div class="splash-center">
      <h1 class="text-center">Hassle Free Collaboration</h1>
      <p class="lead text-center">Work with other federal employees on projects you are passionate about.</p>
      <div class="text-center"><a class="login" href="/auth"><button class="btn btn-midas" id="center">Get Started Today</button></a></div>
      <div class="text-center text-on-dark text-muted"><a href="#">Learn More</a></div>
    </div><!-- /#splash -->
    </div><!-- /.splash-wrap -->
  </div><!-- /.container-fluid-->
