  <div class="container" id="container">

    <div class="row box">
      <div class="col-md-8 box-pad-lr">
        <h2><i class="fa fa-newspaper-o"></i><span class="box-icon-text">Latest Achievements</span></h2>
        <ul class="activity-feed list-unstyled">
          <% _.forEach(data, function(a) { %>
            <% console.log('a', a); %>

            <li>
              <a href="/profile/<%= a.user.id %>" class="avatar">
                <img src="/api/file/get/<%= a.user.photoId %>" class="navbar-people" alt="Profile image for <%= a.user.name %>">
                <%= a.user.name %>
              </a>
              <% if (a.type === 'newTask') { %>
                created <a href="/tasks/<%= a.task.id %>"><%= a.task.title %></a> on <%= a.createdAt %>
              <% } %>
              <% if (a.type === 'newComment') { %>
                commented on <a href="/tasks/<%= a.item.id %>"><%= a.item.title %></a> on <%= a.createdAt %>
              <% } %>
              <% if (a.type === 'newVolunteer') { %>
                is now a participant for <a href="/tasks/<%= a.task.id %>"><%= a.task.title %></a> on <%= a.createdAt %>
              <% } %>
            </li>

          <% }); %>

        </ul>
      </div>
      <div class="col-md-4 box box-pad-lr">
        <div>
          <h2>Welcome</h2>
        </div>
        <div>
          <h2>Tasks completed this year</h2>
        </div>
        <div>
          <h2>Kudos</h2>
        </div>
      </div>
    </div>


  </div><!-- /.container-fluid-->
