<div class="py3 bg-black white">
  <div class="usa-grid center" id="splash1">
    <h1 data-i18n="home.headline">Open Opportunities</h1>
    <p data-i18n="home.subhead">Work with other federal employees on projects you are passionate about.</p>
    <hr>
    <p data-i18n="home.tagline">Building a 21st century government, together</p>
    <div>
      <a href="/tasks">
        <button class="btn btn-primary" id="center" data-i18n="home.callToAction">Get Started Today</button>
      </a>
    </div>
  </div>
</div>
<div class="py3">
  <div class="usa-grid">
    <h2>Why do people get involved?</h2>
    <div class="usa-width-one-third">
      <div class="icon"><i class="fa fa-comments"></i></div>
      <h3>Make Connections</h3>
      <div>Your new colleagues may be down the hall or across the country.</div>
    </div>
    <div class="usa-width-one-third">
      <div class="icon"><i class="fa fa-cogs"></i></div>
      <h3>Build Skills</h3>
      <div>Advance your career by developing new skills and experience.</div>
    </div>
    <div class="usa-width-one-third">
      <div class="icon"><i class="fa fa-line-chart"></i></div>
      <h3>Make a Difference</h3>
      <div>Join a coast-to-coast network solving needs across government.</div>
    </div>
  </div>
</div>
<div class="py3 bg-silver">
  <div class="usa-grid">
    <h2>How does it work?</h2>
    <div class="usa-width-two-thirds">
      <img class="img-responsive" src="/images/home/how-to@2x.png">
    </div>
    <div class="usa-width-one-third">
      <h3>Browse opportunities on the site to find the one that is right for you.</h3>
      <h3>Then just click "Participate" to get started.</h3>
      <h3>Post a discussion topic if you have questions.</h3>
    </div>
  </div>
</div>
<div class="py3">
  <div class="usa-grid center">
    <h3>Find Open Opportunities that match your skills or let you explore new horizons while making an impact across government.</h3>
    <a href="/tasks">
      <button class="usa-button" id="center">Discover More</button>
    </a>
  </div>
</div>
