<h2>Latest Achievements</h2>
<ul class="activity-feed list-unstyled">
    <% var activities = _.filter(badges, function (b) { return b.type === 'taskCompleted'; }); %>
    <% _.forEach(activities.slice(0,25), function(b) { %>
    <% if (b.participants.length !== 0) { %>
      <li>
        <div class="activity-feed--item">
          <% var ps = b.participants.map(function(p) { %>
            <% return '<a href="/profile/' + _.escape(p.id) + '">' + _.escape(p.name) + '</a>' %>
          <% }) %>
          <% if (b.participants.length === 1) var pText = ps; %>
          <% if (b.participants.length === 2) var pText = ps.join(' and '); %>
          <% if (b.participants.length > 2) { %>
            <% var last  = ps.slice(-1); %>
            <% var rest  = ps.slice(0, -1).join(', '); %>
            <% var pText = [rest, last].join(', and '); %>
          <% } %>
          <div class="activity-feed--text">
            <a href="/tasks/<%- b.task.id %>"><%- b.task.title %></a> was completed with the help of <%= pText %>.
          </div>

          <div class="activity-feed--avatars">
            <% window.x = b.participants; %>
            <% b.participants.slice(0, 3).map(function(p, i) { %>
              <a href="/profile/<%- p.id %>">
                <div class="activity-feed--avatar" style="background-image: url(/api/user/photo/<%- p.id %>);left: <%- i * 10 %>px">&nbsp;</div>
              </a>
            <% }); %>
          </div>

        <% } %>
      </div>
    </li>
  <% }); %>
</ul>
