<!--


       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333



  You can trigger this response from one of your controllers or policies with:
  `return res.forbidden( msg );`
  (where `msg` is an optional error message to include in the response)




-->
    <!-- Application data -->
    <script type="text/javascript">
    systemName = "Midas"; // TODO: JSON.stringify(systemName)
    draftAdminOnly = null;
    version = <%- JSON.stringify(version) %>;
    backendUser = null;
    </script>

    <script type="text/javascript">
      // this will only return true for IE <= 8.
      if (window.attachEvent && !window.addEventListener) {
        document.write('<div class="alert alert-danger"><strong>You are using an old, unsupported version of Internet Explorer.</strong>  This website may not work correctly in your browser.  For the best experience, you should use <a href="http://www.google.com/chrome" class="alert-link">Google Chrome</a> or <a href="http://www.microsoft.com/InternetExplorer" class="alert-link">update Internet Explorer</a>.</div>');
      }
    </script>

    <div class="site-wrap">
      <div class="navigation">
      </div>
      <div class="container">
        <div class="alert alert-danger server-alert">
          403 forbidden
        </div>
      </div>
    </div>
    <footer class="bg-white p1" id="footer"></footer>
    <%- partial ('sails.ejs') %>
    <script src="/js/bundle.js"></script>
    <%- partial ('analytics.ejs') %>

