<!--


       444444444       000000000            444444444
      4::::::::4     00:::::::::00         4::::::::4
     4:::::::::4   00:::::::::::::00      4:::::::::4
    4::::44::::4  0:::::::000:::::::0    4::::44::::4
   4::::4 4::::4  0::::::0   0::::::0   4::::4 4::::4
  4::::4  4::::4  0:::::0     0:::::0  4::::4  4::::4
 4::::4   4::::4  0:::::0     0:::::0 4::::4   4::::4
4::::444444::::4440:::::0 000 0:::::04::::444444::::444
4::::::::::::::::40:::::0 000 0:::::04::::::::::::::::4
4444444444:::::4440:::::0     0:::::04444444444:::::444
          4::::4  0:::::0     0:::::0          4::::4
          4::::4  0::::::0   0::::::0          4::::4
          4::::4  0:::::::000:::::::0          4::::4
        44::::::44 00:::::::::::::00         44::::::44
        4::::::::4   00:::::::::00           4::::::::4
        4444444444     000000000             4444444444


  Sails considers a request to be in a "404: Not Found" state when a user
  requests a URL which doesn't match any of your app's routes or blueprints.

  You can also trigger this response from one of your controllers or policies with:
  `return res.notFound();`


-->
    <!-- Application data -->
    <script type="text/javascript">
    systemName = "Midas"; // TODO: JSON.stringify(systemName)
    draftAdminOnly = null;
    version = <%- JSON.stringify(version) %>;
    backendUser = null;
    </script>

    <script type="text/javascript">
      // this will only return true for IE <= 8.
      if (window.attachEvent && !window.addEventListener) {
        document.write('<div class="alert alert-danger"><strong>You are using an old, unsupported version of Internet Explorer.</strong>  This website may not work correctly in your browser.  For the best experience, you should use <a href="http://www.google.com/chrome" class="alert-link">Google Chrome</a> or <a href="http://www.microsoft.com/InternetExplorer" class="alert-link">update Internet Explorer</a>.</div>');
      }
    </script>

    <div class="site-wrap">
      <div class="navigation">
      </div>
      <div class="container">
        <div class="alert alert-danger server-alert">
          404 not found
        </div>
      </div>
    </div>
    <footer class="bg-white p1" id="footer"></footer>
    <%- partial ('sails.ejs') %>
    <script src="/js/bundle.js"></script>
    <%- partial ('analytics.ejs') %>

