<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/styles/application.css" />

    <script type="text/javascript" src="/js/vendor/sails/socket.io.js"></script>

    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/vendor/sails/sails.io.js"></script>

    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/vendor/sails/app.js"></script>

    <script type="text/javascript" data-main="/js/app/bootup.js" src="/js/vendor/require.js"></script>

  </head>

  <body>
  
    <div class="navbar navbar-fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#home">Midas</a>
        <ul class="nav navbar-nav">
          <li class="home"><a href="#home">Home</a></li>
          <li class="projects"><a href="#projects">Projects</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <% if (req.user) { %>
            <li><a href="#user">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
          <% } else { %>
            <li><a href="/auth">Login</a></li>
          <% }; %>
        </ul>
      </div>
    </div>

    <%- body %>

  </body>

</html>
