$color-c0: #6c6c6c;
$color-c1: #dd361a;
$color-c2: #297bb5;
$color-c3: #39b7ea;
$color-h5: #818991;
$color-h6: #2e4d4c;

// @import 'elements';
@import 'borders';
@import 'tags';
@import 'colors';
@import 'forms';
@import 'buttons';
@import 'thumbnails';
@import 'alert';
@import 'progress';
@import 'navigation';
@import 'list';
@import 'panel';
@import 'dropdown';
