<div class="popover-table">
  <div class="popover-row">
    <div class="popover-cell-left">
      <img align="left" src="/api/user/photo/<%- data.id %>" class="popover-image"/>
    </div>
    <div class="popover-cell-right popover-person">
      <div class="title"><a class="link-backbone" href="/profile/<%- data.id %>"><%- data.name %></a></div>
      <% if (data.title) { %><div class="text-line"><i class="fa fa-briefcase"></i> <%- data.title %></div><% } %>
      <% if (data.agency) { %><div class="text-line"><i class="fa fa-library"></i> <%- data.agency.name %></div><% } %>
      <% if (data.location) { %><div class="text-line"><span class="fa fa-map-marker"></span> <%- data.location.name %></div><% } %>
    </div>
  </div>
</div>
