<!-- ALERTS -->
<div class="alert alert-danger" id="alert-closed" style="<% if (data.state != 'closed') { %>display: none;<% } %>">This project is <strong>closed</strong>.  It is no longer active, and no more modifications may be made.</div>

<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4 project-sidebar md-nopadding-right sm-nopadding">
    <!-- LEFT SIDEBAR -->

    <div class="row">
      <div class="col-md-12 box project-header-wrapper">
        <% if (data.coverId) { %>
        <div id="project-header" style="background-image:url('/api/file/get/<%= data.coverId %>');">
        <% } else { %>
        <div id="project-header" style="background-image:url('/images/project_default.png');">
        <% } %>
          <div id="fileupload" class="btn btn-c2" <% if (!data.isOwner || !edit) { %>style="display:none;"<% } %>>
            <i class="icon-camera icon-large" title="Change Cover Photo" id="fileupload-icon"></i>
          </div>
        </div>
        <div id="file-upload-progress-container" style="display: none;" class="progress progress-striped active">
          <div id="file-upload-progress" class="progress-bar" style="width: 0"></div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-8 col-md-8 col-lg-8 md-nopadding sm-nopadding">

    <!-- RIGHT MAIN BAR -->
    <div class="row">
      <div class="col-sm-8 col-md-9 sm-nopadding">
        <div class="main-section">
          <div class="box box-main" id="project-coremeta-wrapper">
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 padding-left-none sm-nopadding">
        <div class="box padding-none">

          <div class="navbar-side like-row border-bottom">
            <% if (user) { %>
            <a href="#" id="like-button" class="like-button">
            <% } else { %>
            <span class="like-button">
            <% } %>
              <i id="like-button-icon" class="icon icon-star-empty icon-large gold"></i>
            <% if (user) { %>
            </a>
            <% } else { %>
            </span>
            <% } %>
            <span class="like-number" id="like-number"><%- data.likeCount %></span>
            <span class="like-plural" id="like-text" data-plural="likes" data-singular="like">likes</span>
          </div>
          <div class="navbar-side <% if (data.isOwner) { %>border-bottom<% } %>">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="#" id="email"><i class="icon icon-envelope-alt"></i> <span class="box-icon-text">Email</span></a>
              </li>
              <li>
                <a href="webcal://<%- hostname %>/api/event/ical/<%- data.id %>"><span class="glyphicon glyphicon-calendar"></span> <span class="box-icon-text">Calendar</span></a>
              </li>
            </ul>
          </div>
          <% if (data.isOwner) { %>
          <div class="navbar-side">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="#" id="editProject"><i class="icon-pencil"></i> <span class="box-icon-text">Edit Project</span></a>
              </li>
              <li id="li-project-close" style="<% if (data.state == 'closed') { %>display: none;<% } %>">
                <a href="#" id="project-close"><i class="icon-remove-sign"></i> <span class="box-icon-text">Close Project</span></a>
              </li>
              <li id="li-project-reopen" style="<% if (data.state != 'closed') { %>display: none;<% } %>">
                <a href="#" id="project-reopen"><i class="icon-share-alt"></i> <span class="box-icon-text">Reopen Project</span></a>
              </li>
              <!--
              <li>
                <a href="#" id="project-delete"><i class="icon-trash"></i> <span class="box-icon-text">Delete Project</span></a>
              </li>
              -->
            </ul>
          </div>
          <% } %>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row">

  <div class="col-sm-5 col-md-4 md-nopadding-right sm-nopadding">

    <div class="row">
      <div class="col-md-12 box">
        <div class="box-main tag-wrapper">
        </div>
      </div>
    </div>

    <% if (!data.isOwner || !edit) { %>
    <div class="row">
      <div class="col-md-12 box">
        <div class="attachment-wrapper">
        </div>
      </div>
    </div>
    <% } %>

  </div>
  <div class="col-sm-7 col-md-8 md-nopadding-right sm-nopadding">

    <div class="row">
      <div class="col-md-12 sm-nopadding md-nopadding">
        <div class="box" id="projectowner-wrapper">
        </div>
      </div>
    </div>

    <% if (!data.isOwner || !edit) { %>
    <div class="row">
      <div class="col-md-12 sm-nopadding md-nopadding">
        <!-- BEGIN EVENTS -->
        <div class="box" id="event-list-wrapper">
        </div>
        <!-- END EVENTS -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 sm-nopadding md-nopadding">
        <!-- BEGIN TASKS -->
        <div class="modal fade" id="addTask"></div>
        <div class="box" id="task-list-wrapper" data-project-id="<%= data.id %>">
        </div>
        <!-- END TASKS -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 sm-nopadding md-nopadding">

        <div class="box comment-list-wrapper" style="clear: both;">
        </div>
      </div>
    </div>

    <% } %> <!-- end of check for edit mode -->

    <!-- add a space at the bottom of the page until we figure out what goes here -->
    <div style="height: 50px;">
    </div>

  </div>
</div>
