<% if (data.isOwner) { %>
<div class="row">
  <div class="col-lg-12">
    <div class="well well-sm" id="project-admin-bar">
      <div class="project-admin-title">
        Project Administration Tools
      </div>
      <div class="row">
        <div class="col-lg-9 project-admin nopadding">
            <button id="editProject" class="btn btn-primary">Edit</button>
            <span id="fileupload" class="btn btn-primary"><i class="icon-camera icon-large" title="Change Cover Photo"></i></span>
        </div>
        <div class="col-lg-2 nopadding">
        <form class="form-inline" role="form">
          <div class="form-group project-admin-select">
            <select class="form-control" id="project-state">
              <option>Draft</option>
              <option>Public</option>
              <option>Closed</option>
            </select>
          </div>
        </form>
        </div>
        <div class="col-lg-1 project-admin-state">
          <span class="glyphicon glyphicon-ok green" id="project-admin-state"></span>
        </div>
      </div>
      <div id="file-upload-progress-container" style="display: none;" class="progress progress-striped active">
        <div id="file-upload-progress" class="progress-bar" style="width: 0"></div>
      </div>
    </div>
  </div>
</div>
<% } else { %><div id="fileupload" style="display: none;"></div><% } %>

<div class="row">
  <% if (data.coverId) { %>
  <div class="col-lg-12" id="project-header" style="background-image:url('/file/get/<%= data.coverId %>');">
  <% } else { %>
  <div class="col-lg-12" id="project-header">
  <% } %>
    <h1 class="project-title"><%= data.title %></h1>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 nopadding">
    <div class="project-people-bar">
      <% if (data.owners) { %>
        <% for (var i = 0; i < data.owners.length; i++) { %>
        <img src="/user/photo/<%= data.owners[i].userId %>" class="project-people"/>
        <% } %>
      <% } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="project-description">
      <div><%= data.description %></div>
      <hr />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="list-wrapper" id="task-list-wrapper"></div>
  </div>
  <div class="col-lg-5">
    <div class="list-wrapper" id="event-list-wrapper">

      <!-- BEGIN EVENT MOCKUP -->
      <div class="list-page">

        <h3 class="list-title">Events
          <button class="btn btn-primary btn-xs list-add" data-toggle="modal"><span class="glyphicon glyphicon-calendar"></span> iCal</button>
          <button class="btn btn-default btn-xs list-add" data-toggle="modal">Add Event</button>
        </h3>

        <div id="event-list">
          <div class="event-next">Next Event</div>
          <div class="event first">
            <div class="event-date pull-right">
              <span class="event-day"><i class="icon-calendar"></i> Oct 17</span><br><span class="event-time">8:00pm</a><br/>
              <button class="btn btn-success"><i class="icon-check"></i> I'm Going</button>
            </div>
            <div class="event-title">Meet with Presidential Innovation Fellows</div>
            <div class="event-location"><i class="icon-map-marker"></i> The White House, Washington DC</div>
            <div class="event-description">
              Donec at turpis eu risus luctus vehicula. Donec pretium tellus adipiscing erat elementum, et porttitor arcu eleifend. Aenean eget leo dolor. Nunc ornare vitae leo non bibendum. Lorem ipsum dolor sit amet, consectetur adipiscing ... <br/>
              <button class="btn btn-xs btn-default">More</button>
            </div>
            <div class="event-people"><i class="icon-male"></i> 43 people going</div>
            <div class="event-people-bar">
              <img src="/user/photo/1" class="project-people"/>
              <img src="/user/photo/1" class="project-people"/>
              <img src="/user/photo/1" class="project-people"/>
              <img src="/user/photo/1" class="project-people"/>
              <img src="/user/photo/1" class="project-people"/>
              <img src="/user/photo/1" class="project-people"/>
            </div>
          </div>
          <div class="event">
            <div class="event-title">Meet with Presidential Innovation Fellows</div>
            <div class="event-going pull-right">
              <button class="btn btn-default btn-xs"><i class="icon-ok"></i> RSVP</button>
            </div>
            <div class="event-location"><i class="icon-map-marker"></i> The White House, Washington DC</div>
            <div class="event-date"><i class="icon-calendar"></i> Monday, April 17 at 8:00pm</div>
            <div class="event-people"><i class="icon-male"></i> 43 people going</div>
          </div>
          <div class="event">
            <div class="event-title">Meet with Presidential Innovation Fellows</div>
            <div class="event-going pull-right">
              <button class="btn btn-default btn-xs"><i class="icon-ok"></i> RSVP</button>
            </div>
            <div class="event-location"><i class="icon-map-marker"></i> The White House, Washington DC</div>
            <div class="event-date"><i class="icon-calendar"></i> Monday, April 17 at 8:00pm</div>
            <div class="event-people"><i class="icon-male"></i> 43 people going</div>
          </div>
          <div class="event">
            <div class="event-title">Meet with Presidential Innovation Fellows</div>
            <div class="event-going pull-right">
              <button class="btn btn-default btn-xs"><i class="icon-ok"></i> RSVP</button>
            </div>
            <div class="event-location"><i class="icon-map-marker"></i> The White House, Washington DC</div>
            <div class="event-date"><i class="icon-calendar"></i> Monday, April 17 at 8:00pm</div>
            <div class="event-people"><i class="icon-male"></i> 43 people going</div>
          </div>
          <div class="event">
            <div class="event-title">Meet with Presidential Innovation Fellows</div>
            <div class="event-going pull-right">
              <button class="btn btn-default btn-xs"><i class="icon-ok"></i> RSVP</button>
            </div>
            <div class="event-location"><i class="icon-map-marker"></i> The White House, Washington DC</div>
            <div class="event-date"><i class="icon-calendar"></i> Monday, April 17 at 8:00pm</div>
            <div class="event-people"><i class="icon-male"></i> 43 people going</div>
          </div>
        </div>
      </div>

      <div class="list-form-wrapper">
      </div>
      <!-- END EVENT MOCKUP -->

    </div>
  </div>
  <div class="col-lg-2">
    <div class="list-wrapper" id="sharing-list-wrapper">

      <!-- BEGIN SHARING MOCKUP -->
      <div class="list-page about-list">

        <h3 class="list-title">About
        </h3>

        <div class="like-content">

          <span class="like-number">37</span>
          likes

          <i class="icon icon-star-empty icon-large gold"></i>

          <div style="padding-top: 10px;">
            <button class="btn btn-danger"><i class="icon icon-envelope-alt"></i> Email</button>
          </div>
          <div style="padding-top: 10px;">
            <button class="btn btn-primary"><i class="icon icon-twitter"></i> Tweet</button>
          </div>
        </div>

      </div>

      <!-- BEGIN SHARING MOCKUP -->
      <div class="list-page file-list">

        <h3 class="list-title">Files
        </h3>

        <div class="file-content">

          <div class="file-item">
            <img src="http://icons.iconarchive.com/icons/sykonist/popular-sites/256/Wikipedia-icon.png" width="16" height="16"/>
            Presidential Innovation Fellows
          </div>
          <div class="file-item">
            <i class="icon-file"></i> PMC-Overview-2013-09.pptx
          </div>

          <div class="text-center">
            <button class="btn btn-default"><i class="icon-plus"></i> Add File</button>
          </div>

        </div>

      </div>

      <!-- END EVENT MOCKUP -->
  </div>
</div>
<div class="row">
  <div class="col-12">
    <hr />
    <div class="comment-form-wrapper"></div>
    <div class="comment-list-wrapper"></div>
  </div>
</div>
