<div id="project-coremeta-show" class="coremeta-form-toggle">

    <h1><%- data.title %></h1>

    <div class="project-description">
      <% /* Escaped with marked() */ %>
      <%= data.descriptionHtml %>
    </div>


</div> <!-- /main-section -->
<div id="project-coremeta-form" class="coremeta-form-toggle coremeta-admin">
  <div class="row">
    <div class="col-md-12">
      <form role="form">

        <div class="alert alert-success" id="project-coremeta-success" style="display: none;">
          Your <span data-i18n="project">project</span> has been successfully updated!
          <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
        </div>

        <!-- RIGHT MAIN BAR -->
        <div class="form-group">
          <h2 class="box-pad-t"><span data-i18n="Project">Project</span> Title</h2>
          <input id="project-edit-form-title" class="form-control input-lg" value="<%- data.title %>" type="text" data-validate="empty,count100" title="Title"/>
          <span class="help-block error-empty" style="display:none;">You must enter a <span data-i18n="project">project</span> title.</span>
          <span class="help-block error-count100" style="display:none;">Your title must be less than 100 characters.</span>
        </div>
        <div class="form-group">
          <h2 class="box-pad-t"><span data-i18n="Project">Project</span> Description</h2>
          <div class="markdown-edit">
          </div>
          <span class="help-block error-empty" style="display:none;">You must enter a <span data-i18n="project">project</span> description.</span>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">

      <div class="pull-right coremeta-admin" id="project-coremeta-buttons">
          <button class="btn btn-c0" id="coremeta-view">Discard Changes</button>
          <button class="btn btn-c2" id="coremeta-save">Save <span data-i18n="Project">Project</span></button>
      </div>

    </div>
  </div>
</div>
