<!-- ALERTS -->
<div class="alert alert-danger" id="alert-closed" style="<% if (data.state != 'closed') { %>display: none;<% } %>">This <span data-i18n="project">project</span> is <strong>closed</strong>.  It is no longer active, and no more modifications may be made.</div>

<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4 project-sidebar md-nopadding-right sm-nopadding">
    <!-- LEFT SIDEBAR -->

    <div class="row">
      <div class="col-md-12 box project-header-wrapper">
        <% if (data.coverId) { %>
        <div id="project-header" style="background-image:url('/api/file/get/<%- data.coverId %>');">
        <% } else { %>
        <div id="project-header" style="background-image:url('/images/project_default.png');">
        <% } %>
          <div class="btn btn-c2 fileinput-button" <% if (!(data.isOwner || user.isAdmin) || !edit) { %>style="display:none;"<% } %>>
            <i class="fa fa-camera fa-lg" title="Change Cover Photo" id="fileupload-icon"></i>
            <input id="fileupload" type="file" name="files[]" title="Change Cover Photo">
          </div>
        </div>
        <div id="file-upload-progress-container" style="display: none;" class="progress progress-striped active">
          <div id="file-upload-progress" class="progress-bar" style="width: 0"></div>
        </div>
        <div class="file-upload-alert alert alert-warning" style="display:none;">
        </div>
      </div>
    </div>

  </div>

  <div class="col-sm-8 col-md-8 col-lg-8 md-nopadding sm-nopadding">

    <!-- RIGHT MAIN BAR -->
    <div class="row">
      <div class="col-sm-8 col-md-9 sm-nopadding">
        <div class="main-section">
          <div class="box box-main" id="project-coremeta-wrapper">
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-3 padding-left-none sm-nopadding">
        <div class="box padding-none">

          <div class="navbar-side like-row border-bottom">
            <% if (user) { %>
            <button id="like-button" class="btn btn-link like-button" title="Click to Like or Unlike">
            <% } else { %>
            <span class="like-button">
            <% } %>
              <i id="like-button-icon" class="fa fa-star-o fa-lg gold"></i>
            <% if (user) { %>
            </button>
            <% } else { %>
            </span>
            <% } %>
            <span class="like-number" id="like-number"><%- data.likeCount %></span>
            <span class="like-plural" id="like-text" data-plural="likes" data-singular="like">likes</span>
          </div>
          <div class="navbar-side <% if (data.isOwner || user.isAdmin) { %>border-bottom<% } %>">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="#" id="email"><i class="fa fa-envelope-o"></i> <span class="box-icon-text">Share</span></a>
              </li>
              <li>
                <a href="webcal://<%- hostname %>/api/event/ical/<%- data.id %>"><span class="fa fa-calendar"></span> <span class="box-icon-text">Calendar</span></a>
              </li>
            </ul>
          </div>
          <% if (data.isOwner || user.isAdmin) { %>
          <div class="navbar-side">
            <div id="modal-close"></div>
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="#" id="editProject"><i class="fa fa-pencil"></i> <span class="box-icon-text">Edit <span data-i18n="Project">Project</span></span></a>
              </li>
              <% if ( !edit ) { %>
              <li id="li-project-close" style="<% if (data.state == 'closed') { %>display: none;<% } %>">
                <a href="#" id="project-close"><i class="fa fa-times-circle"></i> <span class="box-icon-text">Close <span data-i18n="Project">Project</span></span></a>
              </li>
              <li id="li-project-reopen" style="<% if (data.state != 'closed') { %>display: none;<% } %>">
                <a href="#" id="project-reopen"><i class="fa fa-share"></i> <span class="box-icon-text">Reopen <span data-i18n="Project">Project</span></span></a>
              </li>
              <% } %>
              <!--
              <li>
                <a href="#" id="project-delete"><i class="fa fa-trash-o"></i> <span class="box-icon-text">Delete <span data-i18n="Project">Project</span></span></a>
              </li>
              -->
            </ul>
          </div>
          <% } %>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="row">

  <div class="col-sm-5 col-md-4 md-nopadding-right sm-nopadding">
    <div class="row">
      <div class="col-md-12 box">
        <div class="box" id="projectowner-wrapper">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 box">
        <div class="box-main tag-wrapper">
        </div>
      </div>
    </div>

    <% if (!(data.isOwner || user.isAdmin) || !edit) { %>
    <div class="row">
      <div class="col-md-12 box">
        <div class="attachment-wrapper">
        </div>
      </div>
    </div>
    <% } %>

  </div>
  <div class="col-sm-7 col-md-8 md-nopadding-right sm-nopadding">

  <% if (!(data.isOwner || user.isAdmin) || !edit) { %>
    <div class="row">
      <div class="col-md-12 sm-nopadding md-nopadding">
        <!-- BEGIN EVENTS -->
        <div class="box" id="event-list-wrapper">
        </div>
        <!-- END EVENTS -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 sm-nopadding md-nopadding">
        <!-- BEGIN TASKS -->
        <div class="wrapper-addTask"></div>
        <div class="box" id="task-list-wrapper" data-project-id="<%- data.id %>">
        </div>
        <!-- END TASKS -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 sm-nopadding md-nopadding">

        <div class="box comment-list-wrapper" style="clear: both;">
        </div>
      </div>
    </div>

    <% } %> <!-- end of check for edit mode -->

    <!-- add a space at the bottom of the page until we figure out what goes here -->
    <div style="height: 50px;">
    </div>

  </div>
</div>
