
<div class="box-side" id="project-coremeta-buttons" style="height:35px;">
    <button class="btn btn-c0 btn-sm file-add coremeta-form-toggle">Edit</button>
    <button class="btn btn-c0 btn-sm file-add coremeta-form-toggle" id="coremeta-cancel">Cancel</button>
    <button class="btn btn-c2 btn-sm file-add coremeta-form-toggle" id="coremeta-save">Submit</button>


</div>
<div id="project-coremeta-show" class="coremeta-form-toggle">

    <h1><%= data.title %></h1>

    <div class="project-description">
      <%= data.description %>
    </div>


</div> <!-- /main-section -->
<div id="project-coremeta-form" class="coremeta-form-toggle">

      <div class="row">
        <div class="col-lg-12 form-group">
          <!-- RIGHT MAIN BAR -->
          <h2>Project Title</h2>
          <input id="project-edit-form-title" class="form-control input-lg" value="<%= data.title %>" type="text" />
          <h2>Project Description</h2>
          <textarea maxlength="500" rows="8" class="form-control" id="project-edit-form-description"><%= data.description %></textarea>
          <div class="clearfix"></div>


        </div>
      </div>
</div>
