<div id="task-list-page">

<div class="page-header">
    <h1>Task Form</h1>
</div>

<form id="task-form" action="/api">
	<fieldset>
		<input id="task-title" type="text">
		<label for="task-title">Title</label>
		<br />

		<input id="task-description" type="text">
		<label for="task-description">Description</label>

		<br />

		<input id="task-estimated-time" type="text">
		<label for="task-estimated-time">Estimated Time</label>

		<br />

		<input id="task-deadline" type="text">
		<label for="task-deadline">Deadline</label>	

		<br />

		<input type="submit" value="Submit" />
	</fieldset>
</form>

<div class="page-header">
	<h1>Task Listings</h1>
</div>

<ul>
  <% _.each(tasks, function(task) { %>
      
      <li>
      	<b>Project Id</b>: <%- task.projectId %>
      	<br>
      	<b>Title</b>: <%- task.title %>
      	<br>
				<b>Description</b>: <%- task.description %>
      </li>

  <% }) %>
</ul>
<br />
<br>
<br>
<br>
</div>