<p>Welcome to <a href="<%= globals.urlPrefix %>"><%= globals.systemName %></a>!</p>

<p> Please take a moment to ensure that your <a href="<%= globals.urlPrefix %>/profile">profile</a> is complete and accurate.</p>

<p> We are happy to have you involved!</p>

<p>
  Thanks!
  <br/>
  - The <%= globals.systemName %> Team
</p>
