// // Vendor libraries brought in via `assets/styles` and `node_modules`.
// // @see: `tools/grunt/config/sass` for `includePaths`
// // -----------------------------------------------------------------------------
// @import 'font-awesome/css/font-awesome.min',
//         'font-custom/css/style',
//         'bootstrap/dist/css/bootstrap',
//         'bootstrap-datetimepicker/build/css/bootstrap-datetimepicker',
//         'timepicker/jquery.timepicker',
//         'blueimp-file-upload/css/jquery.fileupload',
//         'Select2/select2',
//         'leaflet/dist/leaflet';

@import 'vendor/font-awesome/css/font-awesome.min.css';

// Elements
// -----------------------------------------------------------------------------
@import 'elements/fonts',
        'elements/base';

// Overrides
// -----------------------------------------------------------------------------
@import 'overrides/bootstrap',
        'overrides/select2';

// Blocks
// -----------------------------------------------------------------------------
@import 'components/modal',
        'components/profile',
        'components/files',
        'components/comments',
        'components/autocomplete',
        'components/navigation',
        'components/login',
        'components/text',
        'components/people-map';

@import 'modules/dashboard',
        'modules/homepage',
        'modules/project/base',
        'modules/task/base';


// Theme CSS
// -----------------------------------------------------------------------------
@import 'theme/base';
