<div class="row">

  <% if (user.isAdmin) { %>
  <div class="alert alert-info">
    You are an administrator.
    <% if (user.id !== data.id) { %>
      <% if (edit === true) { %>
        <strong>You are editing another user's profile.</strong>
      <% } else { %>
        You are viewing another user's profile.
      <% } %>
    <% } %>
  </div>
  <% } %>

  <% if (saved) { %>
  <div class="alert alert-success">Your profile has been successfully updated.</div>
  <% } %>

  <div class="col-sm-3 col-md-4 project-sidebar">
    <!-- LEFT SIDEBAR -->

    <div class="row">
      <div class="col-md-12 box project-header-wrapper">
        <div id="project-header" style="background-image:url('/api/user/photo/<%- data.id %>');">
          <div class="btn btn-c2 fileinput-button" <% if (!((data.isOwner || user.isAdmin) && edit)) { %>style="display:none;"<% } %>>
            <i class="icon-camera icon-large" title="Change Cover Photo" id="fileupload-icon"></i>
            <input id="fileupload" type="file" name="files[]" title="Upload Photo">
          </div>
        </div>
        <div id="file-upload-progress-container" style="display: none;" class="progress progress-striped active">
          <div id="file-upload-progress" class="progress-bar" style="width: 0"></div>
        </div>
        <div id="file-upload-alert" class="alert alert-warning" style="display:none;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 box">
        <div class="box-main tag-wrapper">
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-9 col-md-8">
    <!-- RIGHT MAIN BAR -->
    <% if (edit) { %> <!-- in edit mode -->
    <div class="box box-main">
      <div id="emailModal"></div>

      <form class="form-horizontal" role="form" id="profile-form">
        <h1>
          <div class="form-group">
            <input type="text" class="form-control input-lg" id="name" name="name" placeholder="Your Full Name" value="<% if (data.name) { %><%- data.name %><% } %>" title="Your Full Name"/>
          </div>
        </h1>

        <h2> Bio </h2>

        <div class="form-group">
          <label for="title" class="col-md-3 control-label">Title</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="<% if (data.title) { %><%- data.title %><% } %>"/>
          </div>
        </div>

        <div class="form-group">
          <label for="company" class="col-md-3 control-label">Agency</label>
          <div class="col-md-9">
            <input type="hidden" id="company" name="company" style="width: 100%"/>
          </div>
        </div>

        <div class="form-group">
          <label for="location" class="col-md-3 control-label">Location</label>
          <div class="col-md-9">
            <input type="hidden" id="location" name="location" style="width: 100%"/>
          </div>
        </div>

        <div class="form-group">
          <label for="bio" class="col-md-3 control-label">A brief public biography</label>
          <div class="col-md-9">
            <div class="markdown-edit"></div>
          </div>
        </div>

        <h2> Account Information </h2>

        <div class="form-group">
          <label for="profile-emails" class="col-md-3 control-label">Primary Email</label>
          <div class="col-md-9">
            <div id="profile-emails">
            </div>
            <a href="#addEmail" class="btn btn-default btn-xs" id="add-email" data-toggle="modal">Add Email Address</a>
          </div>
        </div>
        <div class="form-group">
          <% if (login.oauth.length > 0) { %>
          <label for="services" class="col-md-3 control-label">Connected Accounts</label>
          <div class="col-md-9" id="services">
            <form class="form-horizontal" role="form">
            <% _.each(login.oauth, function (a) { %>
              <div class="form-group">
                <div class="col-xs-8 col-sm-9 col-md-9">
                  <img src="<%= login.config[a].image %>" alt="<%= login.config[a].name %>" style="height: 30px"/>
                </div>
                <div class="col-xs-4 col-sm-3 col-md-3">
                  <% if (_.contains(data.auths, a)) { %>
                  <a href="#" class="btn btn-danger btn-sm removeAuth pull-right" data-service="<%= a %>"><span class="glyphicon glyphicon-remove"></span> Disconnect</a>
                  <% } else { %>
                  <a href="<%= login.config[a].endpoint %>" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-plus"></span> Connect</a>
                  <% } %>
                  <!-- <%= login.config[a].name %> -->
                </div>
              </div>
            <% }); %>
          </div>
          <% } %>
        </div>
        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <div class="pull-right">
              <a href="#" class="btn btn-c0" id="profile-cancel">Discard Changes</a>

              <button id="submit" type="submit" class="btn btn-c2" disabled="disabled" data-loading-text="<i class='icon-spinner icon-spin'></i> Saving..." data-success-text="Saved!" data-fail-text="Save Failed.">Save Profile</button>
            </div>
          </div>
        </div>

      </form>
    </div>
    <% } else { %> <!-- not in edit mode -->
    <div class="row">
      <div class="col-md-9 sm-nopadding md-nopadding">
        <div class="box box-main">
          <h1><% if (data.name) { %><%- data.name %><% } else { %><%- data.username %><% } %></h1>

          <div class="profile-jobtitle"><% if (data.title) { %><i class="icon-briefcase"></i> <span class="box-icon-text"><%- data.title %></span><% } %></div>
          <div class="profile-company"><% if (data.agency) { %><i class="icon-library"></i> <span class="box-icon-text"><%- data.agency.tag.name %></span><% } %></div>
          <div class="profile-location"><% if (data.location) { %><span class="glyphicon glyphicon-map-marker"></span> <span class="box-icon-text"><%- data.location.tag.name %></span><% } %></div>

          <div class="profile-bio box-pad-t">
            <% if (data.bioHtml) { %><%= data.bioHtml %><% } else { %>This person doesn't have a bio yet.<% } %>
          </div>
        </div>
      </div>
      <div class="col-md-3 sm-nopadding md-nopadding padding-left-none">
        <div class="box padding-none">

          <div class="navbar-side like-row border-bottom">
            <a href="#" id="like-button" class="like-button">
              <i id="like-button-icon" class="icon icon-star-empty icon-large gold"></i>
            </a>
            <span class="like-number" id="like-number"><%- data.likeCount %></span>
            <span class="like-plural" id="like-text" data-plural="followers" data-singular="follower">followers</span>
          </div>
          <div class="navbar-side <% if (data.isOwner || user.isAdmin) { %>border-bottom<% } %>">
            <ul class="nav nav-pills nav-stacked">
              <li>
                <a href="#" id="email"><i class="icon icon-envelope-alt"></i> <span class="box-icon-text">Share</span></a>
              </li>
              <% if (data.isOwner || user.isAdmin) { %>
              <li>
                <a href="/api/event/ical/"><span class="glyphicon glyphicon-calendar"></span> <span class="box-icon-text">Calendar</span></a>
              </li>
            </ul>
          </div>
          <div class="navbar-side">
              <ul class="nav nav-pills nav-stacked">
              <li>
                <% if (login.profile.edit === true) { %>
                <a href="/profile/<%- data.id %>/edit" class="link-backbone"><i class="icon-pencil"></i> <span class="box-icon-text">Edit Profile</span></a>
                <% } else if (login.profile.editUrl) { %>
                <a href="<%= login.profile.editUrl %>" target="_blank"><i class="icon-pencil"></i> <span class="box-icon-text">Edit Profile</span></a>
                <% } %>
              </li>
              <% } %>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <% if (data.isOwner) { %>
    <div class="box">
      <div class="box-pad-lr border-bottom">
        <h2>Account Information</h2>
      </div>

      <div class="box-pad-lr box-pad-t">
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            Email<% if (data.emails.length > 1) { %>s<% }%>:
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
            <% for (var e = 0; e < data.emails.length; e++) { %>
              <% if (data.emails[e].isPrimary) { %>x<% } %>
              <%- data.emails[e].email %><br/>
            <% } %>
            <% if (data.emails.length == 0) { %>
            No email addresses
            <% } %>
          </div>
        </div>

        <% if (login.oauth.length > 0) { %>
        <div class="row">
          <div class="col-xs-3 col-sm-3 col-md-3">
            Connected Accounts:
          </div>
          <div class="col-xs-9 col-sm-9 col-md-9">
            <% if (data.auths.length === 0) { %>
              No connected accounts.
            <% } %>
            <% _.each(login.oauth, function (a) { %>
              <% if (_.contains(data.auths, a)) { %>
              <div>
                <%= login.config[a].name %>
                <span class="label label-success">Connected</span>
              </div>
              <% } %>
            <% }); %>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <% } %>

    <div class="box">
      <div class="box-pad-lr border-bottom">
        <h2>Projects</h2>
      </div>
      <div class="box-pad-lr box-pad-t">
        <div class="project-activity-wrapper"></div>
      </div>
    </div>

    <div class="box">
      <div class="box-pad-lr border-bottom">
        <h2>Opportunities Volunteered For</h2>
      </div>
      <div class="box-pad-lr box-pad-t">
        <div class="task-activity-wrapper"></div>
      </div>
    </div>

    <div class="box">
      <div class="box-pad-lr border-bottom">
        <h2>Opportunities Created</h2>
      </div>
      <div class="box-pad-lr box-pad-t">
        <div class="task-createdactivity-wrapper"></div>
      </div>
    </div>

    <% } %> <!-- /edit check -->

  </div>
</div>
