<div class="tab-content">
  <div class="tab-pane active" id="<%- handle %>-tab-open">
    <table class="table table-condensed table-hover">
      <% if ( count.open > 0 || count.assigned > 0 || count.draft > 0 || count.completed > 0) { %>
        <thead>
          <tr>
            <th data-i18n="<%- targetCapitalized %>">Project</th>
            <th>Created</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        <% for (var i in data) { %>
          <% if (data[i].state == 'archived') { continue; } %>
          <tr>
            <td>
              <% if (data[i].state == 'draft') { %>
              <span class="label label-warning">draft</span>
              <% } %>
              <a href="<%- target %>s/<%- data[i].id %>" class="activity-link" data-id="<%- data[i].id %>"><%- data[i].title %></a>
            </td>
            <td>
              <% var created = new Date(data[i].createdAt); %>
              <%- created.toLocaleDateString() %></td>
            <td>
              <% var s = data[i].state; %>
              <%- [s[0].toUpperCase(), s.slice(1)].join('') %></td>
          </tr>
        <% } %>
        </tbody>
      <% } else { %>
        <tbody>
          <tr>
            <td>No <%- targetsFriendly %></td>
          </tr>
        </tbody>
      <% } %>
    </table>
  </div>
</div>
