<div class="row">

  <div class="row">
    <div class="col-md-6 col-md-offset-3 box">
      <div class="box-main">

        <div class="profile-reset center" id="profile-reset-check">
          <i class="fa fa-spin fa-spinner"></i> Looking up password reset code...
        </div>

        <div class="profile-reset error" id="profile-reset-check-error" style="display: none;">
          This is not a valid password reset code.  Please try resetting your password again and clicking on the link in the email.
        </div>
        <div class="profile-reset error" id="profile-reset-submit-error" style="display: none;">
          An error occurred resetting your password.  Please reload this page and try again.
        </div>

        <div class="profile-reset" id="profile-reset-dialog" style="display: none;">
          <form id="form-password-reset" title="Password Reset">
            <h1>
              Please set a new password for your account.
            </h1>
            <div class="password-view">
            </div>
            <div>
              <input type="submit" class="btn btn-c1" value="Reset Password"/>
            </div>
          </form>
        </div>
        <div class="profile-reset center" id="profile-reset-submit" style="display: none;">
          <i class="fa fa-spin fa-spinner"></i> Performing password reset.  Please stand by...
        </div>

      </div>
    </div>
  </div>

</div>
