  <% if (user.isAdmin) { %>
  <div class="alert alert-info">
    You are an administrator.
    <% if (user.id !== data.id) { %>
      <strong>You are editing another user's profile.</strong>
    <% } %>
  </div>
  <% } %>
  <div class="clearfix mxn2 mb2">
    <div class="col col-12 md-col-12 px2">
      <div class="p2 bg-white">
        <h1>Profile</h1>
        <div class="clearfix mxn2">
          <div class="col col-12 md-col-4 px2">
            <div id="project-header" class="bg-fill" style="background-image:url('/api/user/photo/<%- data.id %>');">
              <div class="btn btn-c2 fileinput-button" <% if (!(data.isOwner || user.isAdmin)) { %>style="display:none;"<% } %>>
                <i class="fa fa-camera fa-lg" title="Change Cover Photo" id="fileupload-icon"></i>
                <input id="fileupload" type="file" name="files[]" title="Upload Photo">
              </div>
            </div>
            <div id="file-upload-progress-container" style="display: none;" class="progress progress-striped active">
              <div id="file-upload-progress" class="progress-bar" style="width: 0"></div>
            </div>
            <div id="file-upload-alert" class="alert alert-warning" style="display:none;"> </div>
          </div>
          <div class="col col-12 md-col-8 px2">
            <form class="form" role="form" id="profile-form">
              <div class="form-group">
                <label for="title" class="control-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="name" value="<% if (data.name) { %><%- data.name %><% } %>"/>
              </div>

              <div class="form-group">
                <label for="title" class="control-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" value="<% if (data.title) { %><%- data.title %><% } %>"/>
              </div>

              <div class="form-group">
                <label for="company" class="control-label" data-i18n="tag.Agency"></label>
                <input type="hidden" id="company" name="company" style="width: 100%"/>
              </div>

              <div class="form-group">
                <label for="location" class="control-label">Location</label>
                <input type="hidden" id="location" name="location" style="width: 100%"/>
              </div>

              <div class="form-group">
                <label for="bio" class="control-label">A brief public biography</label>
                <div class="markdown-edit"></div>
              </div>
              <div class="clearfix mxn2 mt2">
                <div class="col col-12 md-col-12 px2">
                  <div class="col col-12 md-col-8 pr2">
                      <div class="tag-wrapper"></div>
                  </div>
                  <div class="col col-12 md-col-4">
                      <fieldset>
                        <aside>
                          <p>List the skills you would like to use in an
                            opportunity. Include ones you already have
                            and want to contribute to an effort, as well as
                            skills you want to develop through
                            participation.</p>
                          <p>Interest tags tell others the subject matter
                            areas, agencies and other things that you
                            would like to participate in.</p>
                        </aside>
                      </fieldset>
                  </div>
                </div>
              </div>
              <div class="clearfix mxn2 mt2">
                <div class="col col-12 md-col-12 px2">
                      <div class="col col-12 md-col-8 pr2">
                        <h2> Account Information </h2>
                        <div class="form-group">
                          <label for="profile-email" class="control-label">Email</label>
                          <input type="text" class="form-control" id="profile-email" name="username"
                            placeholder="Email" value="<%- email %>">
                          <div id="email-update-alert" class="alert alert-warning" style="display:none;">
                          </div>
                        </div>
                        <div class="form-group">
                          <% if (login.oauth.length > 0) { %>
                          <label for="services" class="control-label">Connected Accounts</label>
                          <div class="" id="services">
                            <form class="form-horizontal" role="form">
                            <% _.each(login.oauth, function (a) { %>
                              <div class="form-group">
                                  <img src="<%- login.config[a].image %>" alt="<%- login.config[a].name %>" style="height: 30px"/>
                                  <% if (_.findWhere(data.auths, { provider: a })) { %>
                                  <a href="#" class="btn btn-danger btn-sm removeAuth pull-right" data-service="<%- a %>" data-id="<%- _.findWhere(data.auths, { provider: a }).id %>"><span class="fa fa-remove"></span> Disconnect</a>
                                  <% } else { %>
                                  <a href="<%- login.config[a].endpoint %>" class="btn btn-success btn-sm pull-right"><span class="fa fa-plus"></span> Connect</a>
                                  <% } %>
                                  <!-- <%- login.config[a].name %> -->
                              </div>
                            <% }); %>
                            </form>
                          </div>
                          <% } %>
                        </div>
                      </div>
                      <div class="col col-12 md-col-4">
                        <fieldset>
                          <aside>
                            <p>Connecting an Account means that you can
                              sign into Open Opportunities using that
                              account’s credentials. One less username
                              and password to remember.</p>
                          </aside>
                        </fieldset>
                      </div>
                </div>
              </div>

              <div class="clearfix mxn2 mt2">
                <div class="col col-12 md-col-12 px2">
                    <div class="form-group bad-pad-t box-pad-b">
                      <button id="profile-save" type="submit" class="btn btn-c2" disabled="disabled" data-loading-text="<i class='fa fa-spinner fa-spin'></i> Saving..." data-success-text="Saved!" data-fail-text="Save Failed.">Save Profile</button>
                      <a href="#" class="btn btn-c0" id="profile-cancel">Discard Changes</a>
                    </div>
                </div>
              </div>
            </form>
          </div>
        </div>

</div>
<div class="row">
  <div class="col-sm-9 col-md-8">
    <!-- LEFT MAIN BAR -->
  </div>
</div>
