<div class="tab-content">
  <div class="tab-pane active" id="<%- handle %>-tab-open">
    <table class="table table-condensed table-hover">
      <% if ( count.open > 0 || count.assigned > 0 || count.draft > 0 || count.submitted > 0 || count.completed > 0) { %>
        <thead>
          <tr>
            <th data-i18n="<%- targetCapitalized %>">Project</th>
            <th>Created</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        <% for (var i in data) { %>
          <% if (data[i].state == 'archived') { continue; } %>
          <tr class="clickable-row js-clickable-row" data-id="<%- data[i].id %>">
            <td>
              <% if ( '' === data[ i ].title && 'draft' === data[ i ].state ) {
                data[ i ].title = 'Untitled Draft';
              } %>
              <a href="/<%- target %>s/<%- data[i].id %>" class="activity-link" data-id="<%- data[i].id %>"><%- data[i].title %></a>
            </td>
            <td>
              <% var created = new Date(data[i].createdAt); %>
              <%- created.toLocaleDateString() %></td>
            <td>
              <span class="task__label--<%= data[ i ].state %>">
                <%= data[ i ].state.charAt( 0 ).toUpperCase() + data[ i ].state.slice( 1 ) %>
              </span>
            </td>
          </tr>
        <% } %>
        </tbody>
      <% } else { %>
        <tbody>
          <tr>
            <td>No <%- targetsFriendly %></td>
          </tr>
        </tbody>
      <% } %>
    </table>
  </div>
</div>
