<div class="row">
  <div class="col-sm-6 box-pad-t box-pad-b">
    <h2><i class="fa fa-user"></i><span class="box-icon-text">Users</span></h2>
    <ul class="metrics">
      <li>Quantity: <%- users.count %></li>
      <ul><li>Who have created tasks: <%- users.withTasks %></li></ul>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 box-pad-t box-pad-b">
    <h2><i class="fa fa-line-chart"></i><span class="box-icon-text" data-i18n="InteractionPlural">Interactions</span></h2>
    <ul class="metrics">
      <li>Total Interactions: <%- interactions.count %></li>
      <ul>
        <li><span data-i18n="Task">Task</span> Signups: <%- interactions.signups %></li>
        <li>Assignments: <%- interactions.assignments %></li>
        <li>Discussion Posts: <%- interactions.posts %></li>
        <li>Completed Tasks: <%- interactions.completions %></li>
        <li>Draft Tasks: <%- interactions.drafts %></li>
        <li>Published Tasks: <%- interactions.publishes %></li>
      </ul>
    </ul>
  </div>
  <div class="col-sm-6 box-pad-t box-pad-b">
    <h2><i class="fa fa-rocket"></i><span class="box-icon-text" data-i18n="TaskPlural">Tasks</span></h2>
    <ul class="metrics">
      <li>Total Created: <%- tasks.count %></li>
      <ul>
        <li>Draft: <%- tasks.draft %></li>
        <li>Submitted: <%- tasks.submitted %></li>
        <li>Open: <%- tasks.open %></li>
        <li>Assigned: <%- tasks.assigned %></li>
        <li>Completed: <%- tasks.completed %></li>
        <li>Archived: <%- tasks.archived %></li>
      </ul>
    </ul>
  </div>
</div>
