<div class="row"><div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Completed Opportunities</th>
        <th scope="col">FY14</th>
        <th scope="col">FY15</th>
        <th scope="col">Goal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Carryover <small>(still published or assigned)</small></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Published</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Completed</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="small">
        <th scope="row">Percentage Completed</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <!-- We don't track the date a task was archived
      <tr>
        <th scope="row">Archived</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      -->
    </tbody>
  </table>
</div></div>

<div class="row"><div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Active Opportunities</th>
        <th scope="col"></th>
        <th scope="col">Cumulative</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Published</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="small">
        <th scope="row">One-time</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="small">
        <th scope="row">On-going</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Assigned</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="small">
        <th scope="row">One-time</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="small">
        <th scope="row">On-going</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div></div>

<div class="row"><div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Participants</th>
        <th scope="col">FY14</th>
        <th scope="col">FY15</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Participants <small>(people who have signed up for tasks)</small></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div></div>

<div class="row"><div class="col-md-12">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Agencies</th>
        <th scope="col">FY14</th>
        <th scope="col">FY15</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Agencies <small>(with people who have signed up for tasks)</small></th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div></div>
