<div class="alert alert-danger" style="display:none;">
</div>
<div class="row">
  <div class="col-md-12 box box-pad-lr">
    <div class="row">
      <div class="export-button pull-right tip" data-toggle="tooltip" data-placement="bottom"
           title="Download list of all participants as a comma-separated file ready for import into Excel">
        <a href="/api/admin/participants?export=true">
          <i class="fa fa-download"></i>
        </a>
      </div>

    </div>
    <div class="row overflow-x">
      <div class="col-md-12">

        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <% _.each(data[0], function(value, key) { %>
              <th><%- key %></th>
              <% }); %>
            </tr>
          </thead>
          <tbody>
            <% if (data.length === 0) { %>
            <tr class="empty-row">
              <td colspan="<%- data[0].length %>">
                No users found.
              </td>
            </tr>
            <% } %>
            <% _.each(data, function(row) { %>
            <tr>
              <% _.each(row, function(value) { %>
                <td><%- value %></td>
              <% }); %>
            </tr>
            <% }); %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>
