<div class="alert alert-danger" style="display:none;">
</div>
<div class="row">
  <div class="col-md-12 box box-pad-lr">
    <div class="row">
      <div class="col-md-12">

        <div role="tabpanel">

          <!-- Nav tabs -->
          <ul class="nav nav-tabs box-pad-t" role="tablist">
            <li role="presentation">
              <a href="#drafts" aria-controls="open" role="tab" data-toggle="tab">
                Drafts: <%- drafts.length %>
              </a>
            </li>
            <li role="presentation" class="active">
              <a href="#open" aria-controls="open" role="tab" data-toggle="tab">
                Open: <%- open.length %>
              </a>
            </li>
            <li role="presentation">
              <a href="#signups" aria-controls="signups" role="tab" data-toggle="tab">
                Sign-ups: <%- withSignups.length %>
              </a>
            </li>
            <li role="presentation">
              <a href="#assigned" aria-controls="assigned" role="tab" data-toggle="tab">
                Assigned: <%- assigned.length %>
              </a>
            </li>
            <li role="presentation">
              <a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">
                Completed: <%- completed.length %>
              </a>
            </li>

            <!-- Export button -->
            <div class="export-button pull-right tip" data-toggle="tooltip" data-placement="left"
                 title="Download list of tasks as a comma-separated file ready for import into Excel">
              <a href="/api/task/export">
                <i class="fa fa-download"></i>
              </a>
            </div>

          </ul>

          <!-- Tab panes -->
          <div class="tab-content box-pad-t">
            <div role="tabpanel" class="tab-pane" id="drafts">
              <ul class="metrics">
                <% _(drafts).forEach(function(task) { %>
                <li>
                  <a href="/tasks/<%- task.id %>"><%- task.title %></a>,
                  <a href="/profile/<%- task.user.id %>"><%- task.user.name || task.user.username %></a>
                  <% if (task.volunteers.length) { %>
                  <p>Sign-ups:
                    <% _(task.volunteers).forEach(function(vol) { %>
                    <a href="/profile/<%- vol.user.id %>"><%- vol.user.name || vol.user.username %></a>
                    <% }); %>
                  </p>
                  <% } %>
                </li>
                <% }); %>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane active" id="open">
              <ul class="metrics">
                <% _(open).forEach(function(task) { %>
                <li>
                  <a href="/tasks/<%- task.id %>"><%- task.title %></a>,
                  <a href="/profile/<%- task.user.id %>"><%- task.user.name || task.user.username %></a>
                  <% if (task.volunteers.length) { %>
                  <p>Sign-ups:
                    <% _(task.volunteers).forEach(function(vol) { %>
                    <a href="/profile/<%- vol.user.id %>"><%- vol.user.name || vol.user.username %></a>
                    <% }); %>
                  </p>
                  <% } %>
                </li>
                <% }); %>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="signups">
              <ul class="metrics">
                <% _(withSignups).forEach(function(task) { %>
                <li>
                  <a href="/tasks/<%- task.id %>"><%- task.title %></a>,
                  <a href="/profile/<%- task.user.id %>"><%- task.user.name || task.user.username %></a>
                  <% if (task.volunteers.length) { %>
                  <p>Sign-ups:
                    <% _(task.volunteers).forEach(function(vol) { %>
                    <a href="/profile/<%- vol.user.id %>"><%- vol.user.name || vol.user.username %></a>
                    <% }); %>
                  </p>
                  <% } %>
                </li>
                <% }); %>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="assigned">
              <ul class="metrics">
                <% _(assigned).forEach(function(task) { %>
                <li>
                  <a href="/tasks/<%- task.id %>"><%- task.title %></a>,
                  <a href="/profile/<%- task.user.id %>"><%- task.user.name || task.user.username %></a>
                  <% if (task.volunteers.length) { %>
                  <p>Sign-ups:
                    <% _(task.volunteers).forEach(function(vol) { %>
                    <a href="/profile/<%- vol.user.id %>"><%- vol.user.name || vol.user.username %></a>
                    <% }); %>
                  </p>
                  <% } %>
                </li>
                <% }); %>
              </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="completed">
              <ul class="metrics">
                <% _(completed).forEach(function(task) { %>
                <li>
                  <a href="/tasks/<%- task.id %>"><%- task.title %></a>,
                  <a href="/profile/<%- task.user.id %>"><%- task.user.name || task.user.username %></a>
                  <% if (task.volunteers.length) { %>
                  <p>Sign-ups:
                    <% _(task.volunteers).forEach(function(vol) { %>
                    <a href="/profile/<%- vol.user.id %>"><%- vol.user.name || vol.user.username %></a>
                    <% }); %>
                  </p>
                  <% } %>
                </li>
                <% }); %>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
