<div class="row"><div class="col-md-12 form-inline text-right">
  <label for="group">Period:</label>
  <select name="group" class="group form-control">
    <option value="week">Week</option>
    <option value="month">Month</option>
    <option value="quarter">Quarter</option>
    <option value="year">Year</option>
    <option value="fyquarter">Fiscal Quarter</option>
    <option value="fy">Fiscal Year</option>
  </select>
</div></div>

<div class="row overflow-x"><div class="col-md-12">
  <table class="table task-metrics-table">
    <thead>
      <tr>
        <th scope="col">Completed Opportunities</th>
        <% _.each(range, function(key) { %>
        <th scope="col"><%- label(key) %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Carryover <small>(still published or assigned)</small></th>
        <% _.each(range, function(key) { %>
        <td><%- tasks.carryOver[key] || 0 %></td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Published</th>
        <% _.each(range, function(key) { %>
        <td><%- tasks.published[key] || 0 %></td>
        <% }); %>
      </tr>
      <tr>
        <th scope="row">Completed</th>
        <% _.each(range, function(key) { %>
          <td><%- tasks.completed[key] || 0 %></td>
        <% }); %>
      </tr>
      <tr class="small">
        <th scope="row">Percentage Completed</th>
        <% _.each(range, function(key) { %>
        <td><%- Math.round(tasks.completed[key] / tasks.published[key] * 100, 4) || 0 %>%</td>
        <% }); %>
      </tr>
      <!-- We don't track the date a task was archived
      <tr>
        <th scope="row">Archived</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      -->
    </tbody>
  </table>
</div></div>
<!-- This is redundant with the top section until we can break out by tags
<div class="row"><div class="col-md-12">
  <table class="table task-metrics-table">
    <thead>
      <tr>
        <th scope="col">Active Opportunities</th>
        <th scope="col"></th>
        <th scope="col">Cumulative</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Published</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="small">
        <th scope="row">One-time</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="small">
        <th scope="row">On-going</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Assigned</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="small">
        <th scope="row">One-time</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="small">
        <th scope="row">On-going</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div></div>
-->

<div class="row overflow-x"><div class="col-md-12">
  <table class="table task-metrics-table">
    <thead>
      <tr>
        <th scope="col">Participants</th>
        <% _.each(range, function(key) { %>
        <th scope="col"><%- label(key) %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Participants <small>(people who have signed up for tasks)</small></th>
        <% _.each(range, function(key) { %>
        <td><%- volunteers[key] || 0 %></td>
        <% }); %>
      </tr>
    </tbody>
  </table>
</div></div>

<div class="row overflow-x"><div class="col-md-12">
  <table class="table task-metrics-table">
    <thead>
      <tr>
        <th scope="col">Agencies</th>
        <% _.each(range, function(key) { %>
        <th scope="col"><%- label(key) %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Agencies <small>(with people who have signed up for tasks)</small></th>
        <% _.each(range, function(key) { %>
        <td><%- agencies[key] || 0 %></td>
        <% }); %>
      </tr>
    </tbody>
  </table>
</div></div>
