<div class="row">
  <div class="col-sm-3 col-md-3">

    <nav class="navbar admin navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <h2 class="box-pad-lr box-pad-t">Administration</h2>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/admin/agencies" class="link-admin" data-target="agencies">Agency Dashboard</a></li>
          <li><a href="/admin/dashboard" class="link-admin dashboard-menu" data-target="dashboard">Dashboard</a></li>
          <li><a href="/admin/users" class="link-admin" data-target="users">Users</a></li>
          <!-- TODO: li><a href="/admin/tags" class="link-admin" data-target="tag">Tag Configuration</a></li -->
          <li><a href="/admin/tasks" class="link-admin" data-target="tasks">Tasks</a></li>
          <!-- TODO: <li><a href="/admin/participants" class="link-admin" data-target="participants">Participants</a></li> -->
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

  </div>
  <div class="col-sm-9 col-md-9 sm-nopadding">
    <div class="admin-container" id="admin-user">
    </div>
    <div class="admin-container" id="admin-tag">
    </div>
    <div class="admin-container" id="admin-task">
    </div>
    <div class="admin-container" id="admin-agencies">
    </div>
    <div class="admin-container" id="admin-participants">
      <div class="fullwidth text-center spinner">
        Loading... <i class="fa fa-spinner fa-spin"></i>
      </div>
    </div>
    <div class="admin-container" id="admin-dashboard">
    </div>
  </div>
</div>
