<div class="alert alert-danger" style="display:none;">
</div>
<div class="row">
  <div class="col-md-12 box box-pad-lr">
    <div class="row">
      <div class="col-md-12 box-pad-b">
        <h2>Find and add tags</h2>
        <p>Search in the fields below to see existing tags. Type a new tag value to create it.</p>
        <% _(types).forEach(function(tag) { %>
          <div class="row box-pad-b box-pad-t">
            <label for="<%- tag %>" class="col-md-2 control-label"><%- tag %>:</label>
            <div class="col-md-10">
              <input type="hidden" id="<%- tag %>" name="<%- tag %>" style="width: 100%"/>
              <div class="form-status text-success"></div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
