<div id="login-wrapper"></div>
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" title="<%- systemName %> Home">
        <img src="/images/logo@2x.png" width="188" height="60">
      </a>
    </div>
    <div class="navbar-collapse collapse pull-right">
      <ul class="nav navbar-nav">

        <li class="tasks">
          <a href="/tasks" class="nav-link">
            <div class="navbar-title">
              <i class="fa fa-rocket"></i>
              <span data-i18n="TaskPlural">Tasks</span>
            </div>
          </a>
        </li>
        <!-- TODO People tab:  - hide temporarily
        <% if (user) { %>
        <li class="profiles">
          <a href="/profiles" class="nav-link">
            <div class="navbar-title">
              <i class="fa fa-user"></i>
              <span data-i18n="ProfilePlural">People</span>
            </div>
          </a>
        </li>
        <% } %>
      -->
        <li class="navbar-divider navbar-text"></li>
        <% if (user) { %>
          <li class="profile dropdown">
            <a href="/profile" id="navbar-profile" role="button" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/api/user/photo/<%- user.id %>" class="navbar-people" alt="" /> &nbsp;
              <% if (user.name) { %><%- user.name %>
              <% } else { %><%- user.username %>
              <% } %>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="navbar-profile">
              <li role="presentation"><a id="profileLink" role="menuitem" class="nav-link" tabindex="-1" href="/profile/<%- user.id %>">Profile</a></li>
              <% if (user.isAdmin === true || user.isAgencyAdmin === true) { %>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem"
                 tabindex="-1" href="/admin" class="nav-link">Administration</a></li>
              <% } %>
              <% if (login.local.logout) { %>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem"
                 tabindex="-1" href="/auth/logout" class="logout">Logout</a></li>
              <% } %>
            </ul>
          </li>
        <% } else { %>
          <% if (login.signin !== false) { %>
          <li><a href="/auth" class="login"><i class="fa fa-plus-circle"></i> Sign In</a></li>
          <% } %>
        <% }; %>
      </ul>
    </div>
  </div>
</div>
