<div id="login-wrapper"></div>
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
      </a>
    </div>
    <div class="navbar-collapse collapse pull-right">
      <ul class="nav navbar-nav">

        <li class="projects">
          <a href="/projects" class="nav-link">
            <i class="icon-rocket"></i>
            <span class="navbar-title-small">Browse</span><br/>
            <span class="navbar-title-big">Projects</span>
          </a>
        </li>
        <li class="tasks">
          <a href="/tasks" class="nav-link">
            <i class="icon-tags"></i>
            <span class="navbar-title-small">Browse</span><br/>
            <span class="navbar-title-big">Opportunities</span>
          </a>
        </li>

        <li class="divider-vertical navbar-text"></li>
        <% if (user) { %>
          <li class="profile dropdown"><a href="/profile" id="navbar-profile" role="button" class="dropdown-toggle" data-toggle="dropdown">
            <img src="/api/user/photo/<%- user.id %>" class="navbar-people"/> &nbsp;
              <% if (user.name) { %><%- user.name %>
              <% } else { %><%- user.username %>
              <% } %>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="navbar-profile">
              <li role="presentation"><a role="menuitem" class="nav-link" tabindex="-1" href="/profile">Profile</a></li>
              <% if (login.local.logout) { %>
              <li role="presentation" class="divider"></li>
              <li role="presentation"><a role="menuitem"
                 tabindex="-1" href="/auth/logout" class="logout">Logout</a></li>
              <% } %>
            </ul>
          </li>
        <% } else { %>
          <li class="navbar-1line"><a href="/auth" class="login"><i class="icon-plus-sign"></i> Sign In</a></li>
        <% }; %>
      </ul>
    </div>
  </div>
</div>