/*****************
=  FILES
******************/

.file-tag {
  padding: 3px;
  font-size: 10px;
}

.file-uploader {
  font-size: 11px;
  text-align: right;
}

.file-add {
  float: right;
  margin-top: -3px;
  text-transform: none;
}
