/*****************
=  LOGIN
******************/

.login-oauth {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.login-option {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-login {
  width: 100%;
  text-align: center;
}

.forgot-password {
  display: block;
  margin-top: 5px;
}

.login-register-label {
  margin: 0;
  padding-top: 7px;
}

.btn-login-responsive {
  height: auto;
  max-width: 100%;
}

.password-rules-title {
  padding-top: 10px;
  font-weight: 700;
}

ul.password-rules {
  padding-left: 0;
  list-style: none;
  font-size: 12px;
  padding-top: 4px;
}

.password-rules .success {
  color: #419641;
  display: none;
}

.password-rules .error {
  color: #c12e2a;
}
