/*****************
=  PROFILES
******************/

.profile-badges {
  list-style-type: none;
  padding: 0;
}

.profile-badge {
  display: inline-block;
  text-align: center;
  text-transform: capitalize;
}

.profile-badge img {
  min-height: 70px;
  width: 70px;
}

.profile-reset h1 {
  font-size: 1.8em;
}

.profile-reset.error {
  color: #c12e2a;
}

.custom-popup .leaflet-popup-content-wrapper {
  background: #89a6c7;
  color: #333333;
  opacity: 0.8;
  border-radius: 10%;
}

.custom-popup .leaflet-popup-tip-container {
  display: none;
}

.clickable-row {
  cursor: pointer;
}
