/*****************
=  TEXT COLORS
******************/

.green {
  color: #a0d468;
}

.icon-green {
  color: #51a351;
}

.icon-red {
  color: #bd362f;
}

.icon-center {
  width: 12px;
  display: inline-block;
  text-align: center;
}

.gold {
  color: #FFD700;
}

.white {
  color: #FFFFFF;
}

.white a {
  color: #FFFFFF;
}

.white .comment-created-at {
  color: #FFFFFF;
}
