/*****************
=  LIKES
******************/
.like-row {
  text-align: center;
  width: 100%;
}

.like-content {
  font-size: 18px;
}

.like-number {
  font-size: 32px;
  font-weight: 700;
}

.like-buttons {
  margin-top: 7px;
}

.like-button {
  font-size: 22px;
  vertical-align: text-bottom;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

span.like-button > .gold {
  color: #f2e187;
}

button.like-button:hover {
  text-decoration: none;
}

