/*****************
=  TAGS
******************/
.tag-title {
  margin-top: 10px;
}

.profile-tags .tag-title {
  margin-top: .3em;
}

.profile-tags .tag-title > h2 {
  color: black;
  font-size: 14px;
  margin-bottom: .3em;
}

.edit-profile .tag-title {
  margin-top: 0px;
}

.edit-profile .tag-title h2 {
  color: black;
  font-size: 14px;
  font-weight: 700;
}

.tag-delete {
  cursor: pointer;
}

.select-tags-buttons {
  margin-top: 10px;
}

ul.tags {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.tags > li {
  font-size: 12px;
  padding-right: 6px;
  padding-left: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
}
