.event,
.task {
  width: 100%;
  padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
  margin-bottom: 5px;
}

.event:hover,
.task:hover {
  background-color: #f0f0f0;
}

.event-scroll {
  max-height: 250px;
  overflow-y: auto;
}

.event-button {
  margin-top: 5px;
  margin-right: 15px;
}

.event-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
}

.event-description {
  padding-bottom: 5px;
}

.event-tag {
  font-size: 11px;
  color: #606060;
}

.event-icon-center {
  width: 10px;
  display: inline-block;
  text-align: center;
}

.event-timezone {
  font-size: 12px;
}

.event-timezone > .timezone {
  font-weight: bold;
}

#event-start,
#event-end,
#div-event-start-time > input.fullwidth,
#div-event-end-time > input.fullwidth {
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}
