/* PeopleMap */

.country {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1px;
}

.userDot {
  fill: steelblue;
  stroke: #fff;
  fill-opacity: .8;
}

.userDot-select {
  fill: #FFCB32;
}

.d3-tooltip {
  background-color: rgba(87, 129, 175, 0.7);
  margin: 10px;
  width: 240px;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
