<div class="modal fade"
  id="<%- id %>"
  role="dialog"
  tabindex="-1"
  <% if (disableClose === true) { %>
  data-backdrop="static"
  data-keyboard="false"
  <% } %>
  >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <% if (disableClose !== true) { %>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <% } %>
        <h4 class="modal-title"><%- modalTitle %></h4>
      </div>

      <div class="modal-template">

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
