<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><%- modalTitle %></h4>
    </div>

    <div class="modal-body">

    </div>

    <div class="modal-footer">
      <button type="button" class="wizard-cancel btn btn-c0" data-dismiss="modal">Cancel</button>
      <button type="button" class="wizard-backward btn btn-c2"><i class="icon-chevron-left"></i> Back</button>
      <button type="button" class="wizard-forward btn btn-c2">Next <i class="icon-chevron-right"></i></button>
      <button type="button" class="wizard-submit btn btn-c2" style="display: none;">Create</button>
    </div>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
