<form action="" id="project-form">
  <div class="modal-body">
    <fieldset>
      <div class="form-group">
        <label for="project-form-title">Project Title</label>
        <input type="text" class="project-title-form form-control" id="project-form-title" name="project-form-title" placeholder="Project Title" data-validate="empty,count100">
        <span class="help-block error-empty" style="display:none;">You must enter a project title.</span>
        <span class="help-block error-count100" style="display:none;">The project title must be less than 100 characters.</span>
      </div>
      <div class="form-group">
        <label for="project-form-description">Project Description</label>
        <div class="markdown-edit"></div>
        <span class="help-block error-empty" style="display:none;">You must enter a project description.</span>
        <span class="help-block error-count400" style="display:none;">The project description must be less than 400 characters.</span>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-c0" data-dismiss="modal">Cancel</button>
    <input type="submit" class="btn btn-c2" id="submit" value="Add Project"/>
  </div>
</form>