<table class="table table-condensed table-hover">

  <tr>
    <th width="20%">Name</th>
    <th width="30%">Title</th>
    <th width="25%">Agency</th>
    <th width="25%">Location</th>
  </tr>

  <% _.each(people, function(person) { %>
  <tr>
    <td>
      <a href="/profile/<%= person.get('id') %>">
        <%= person.get('name') %>
      </a>
    </td>
    <td><%= person.get('title') %></td>
    <td><%= person.get('agency').name %></td>
    <td><%= person.get('location').name %></td>
  </tr>
  <% }); %>

</table>
