<div id = "peoplelist" class="table-responsive">
  <table class="table">

    <thead>
      <tr>
        <th width="20%">Name</th>
        <th width="30%">Title</th>
        <th width="25%">Agency</th>
        <th width="25%">Location</th>
      </tr>
    </thead>

    <% _.each(people, function(person) { %>
    <tr>
      <td class="name">
        <a href="/profile/<%= person.get('id') %>">
          <%= person.get('name') %>
        </a>
      </td>
      <td>
        <%- person.get('title') %>
      </td>
      <td>
        <% if (!_.isUndefined(person.get('agency'))) { %>
        <%- person.get('agency').name %>
        <% } %>
      </td>
      <td>
        <% if (!_.isUndefined(person.get('location'))) { %>
        <%- person.get('location').name %>
        <% } %>
      </td>
    </tr>
    <% }); %>

  </table>
</div>
