<div class="title-clone">
  <p>What would you like to title the clone of this <span data-i18n="task">opportunity</span>?</p>
  <div class="form-group">
    <input type="text" id="task-clone-title" class="fullwidth validate form-control" data-validate="empty,count100" name="task-clone-field" placeholder="Opportunity Description"/>
    <span class="help-block error-empty" style="display:none;">You must enter a title for this <span data-i18n="task">opportunity</span></span>
    <span class="help-block error-count100" style="display:none;">The short description of the problem must be less than 100 characters.</span>
  </div>
</div>
