<p>In order to introduce you as part of the sign up process, we would like to fill in your profile.</p>
<p>Please enter your location and agency:</p>

<div class="form-group">
  <label for="rlocation" class="control-label">Location</label>
  <input type="hidden" id="rlocation" name="rlocation" data-validate="empty"/>
  <span class="help-block error-empty" style="display:none;">Please select a valid location.</span>
</div>
<div class="form-group">
  <label for="ragency" class="control-label">Agency</label>
  <input type="hidden" id="ragency" name="ragency" data-validate="empty"/>
  <span class="help-block error-empty" style="display:none;">Please select a valid agency.</span>
</div>
