<h4 data-i18n="volunteerFullTimeModal.supervisorApprovalTitle">Supervisor Approval</h4>

<p data-i18n="volunteerFullTimeModal.supervisorApproval">
  I have my supervisor's approval to apply to this opportunity.
</p>

<h4 data-i18n="volunteerFullTimeModal.performanceTitle">Position/ Performance</h4>

<ul>
  <li data-i18n="volunteerFullTimeModal.fullTimeRequirement">I am a GSA employee serving under a permanent appointment and am at the full performance level of my position.</li>
  <li data-i18n="volunteerFullTimeModal.performanceLevel3">I have a performance rating of 3 or higher.</li>
  <li data-i18n="volunteerFullTimeModal.noDisciplinaries">I have had no formal, documented disciplinary action within the past year (such as a written warning notice, reprimand, or suspension). -I am not participating in a different formal development program. Location If this opportunity is for a specific location (i.e. it is not a virtual opportunity), I am located within the same commuting area.</li>
</ul>

<h4 data-i18n="volunteerFullTimeModal.gradeTitle"> Grade Level </h4>

<p data-i18n="volunteerFullTimeModal.grade">
  If this opportunity is for a specific grade level (i.e. not to unclassified duties), I am at that grade level or higher.
</p>
