<div class="form-group">
	<p>Thank you for volunteering. Please be sure you have the availability and expertise to support this opportunity to completion. We will notify your supervisor of your interest in this project so that he or she is aware that you plan to include this work during your regularly scheduled work week to support Department colleagues and projects. Kudos to you!</p>
	<p>Please enter  the name and email address of your supervisor below. If you’ve previously volunteered, the last supervisor email you provided is shown. Please update it if necessary.</p>
	<span class="form-group">
		<input type="text" id="userSuperVisorName" placeholder="Supervisor Name" class="validate" data-validate="empty" value="<%- supervisorName %>"/>
		<input type="text" id="userSuperVisorEmail" placeholder="Supervisor email address" class="validate" data-validate="empty,email,emaildomain" data-emaildomain="state.gov" value="<%- supervisorEmail %>"/>
		<span class="help-block error-email error-empty error-emaildomain" style="display:none;">You must enter a name and a valid State Department email address to proceed.</span>
	</span>
</div>
