<h4>Discussion
</h4>
<div class="project-topic-form" style="display: none">
  <form id="comment-topic-form" class="form-inline" role="form">
    <div class="input-group">
      <div class="comment comment-content form-control input-sm" contentEditable="true"></div>
      <span class="input-group-btn">
        <input class="btn btn-c3 btn-sm" type="submit" value="Create New Topic">
      </span>
    </div>
    <div class="search-result-wrapper"></div>
  </form>
</div>
<div class="project-comments">

</div>
