<h2>Discussion</h2>
<div class="comment-spinner center">
  Loading discussion... <i class="fa fa-spinner fa-spin"></i>
</div>
<div id="comment-form-target"></div>
<ul id="comment-list">
  <% if ( user ) { %>
  <li class="comment-item clearfix border-left box-pad-lr" id="comment-empty" style="display:none;">
    No discussion yet.  Start one!
  </li>
  <% } else { %>
  <li class="comment-item clearfix border-left box-pad-lr" id="comment-empty" style="display:none;">
    Sign in to start the discussion!
  </li>
  <% } %>
</ul>
<div class="topic-form-wrapper"></div>
