<li class="comment-item clearfix">

  <div class="comment-content">
    <div class="comment-image">
      <div class="project-people-div" data-userid="<%- userId %>">
        <img src="/api/user/photo/<%= userId %>" alt="<%- user.name %>" class="project-people" />
      </div>
    </div>

    <div class="comment-inner <% if (topic) { %>topic<% }%>">
      <span class="user-username" data-userid="<%- userId %>">
        <a href="#" class="comment-user-link" data-userid="<%- userId %>">
          <% if (user.name) { %>
            <%- user.name %>
          <% } else { %>
            <%- user.username %>
          <% } %>
        </a>
      </span>

      <%= valueHtml %>

      <div class="comment-metadata">
        <time class="timeago comment-created-at" datetime="<%- createdAt %>"><%- createdAt %></time>
      </div>
    </div>
  </div>

  <div class="comment-sublist-wrapper">

    <ul id="comment-list-<%= id %>"></ul>
  </div>
</li>
