<h4>Discussion
  <button class="btn btn-c3 btn-sm file-add" id="project-topic-new">New Topic</button>
</h4>
<div class="project-topic-form" style="display: none">
  <form id="comment-topic-form" class="form-inline" role="form">
    <div class="input-group">
      <div class="comment comment-content form-control input-sm" contentEditable="true"></div>
      <span class="input-group-btn">
        <input class="btn btn-c3 btn-sm" type="submit" value="Create New Topic">
      </span>
    </div>
    <div class="search-result-wrapper"></div>
  </form>
</div>
<div class="project-comments">

  <% if (!comments) { %>
  <% } else { %>
  <% _.each(comments, function (topic, index) { %>
  <ul class="comment-list">

      <li class="comment-item c3-bg white clearfix">
        <div class="comment-image">
          <img src="/user/photo/<%- topic.userId %>" class="comment-image"/>
        </div>

        <div class="comment-inner">

          <span class="user-username" data-userid="<%- topic.userId %>">
            <a href="#" class="comment-user-link" data-userid="<%- topic.userId %>">
              <% if (topic.user.name) { %>
                <%- topic.user.name %>
              <% } else { %>
                <%- topic.user.username %>
              <% } %>
            </a>
          </span>

          <% if (topic.wikiLink !== "undefined") { %>
            <span class="comment-content"><a target="_blank" href="<%- _.unescape(topic.wikiLink) %>"><%- topic.value %></a></span>
          <% } else { %>
            <span class="comment-content"><%- topic.value %></span>
          <% } %>
          <br/>
          Started
          <time class="timeago comment-created-at" datetime="<%- topic.createdAt %>"><%- topic.createdAt %></time>
        </div> <!-- /comment-inner -->

      </li>

      <% _.each(topic.comments, function (comment, index) { %>

      <li class="comment-item clearfix">
        <div class="comment-image">
          <img src="/user/photo/<%- comment.userId %>" class="comment-image"/>
        </div>

        <div class="comment-inner">

          <span class="user-username" data-userid="<%- comment.userId %>">
            <a href="#" class="comment-user-link" data-userid="<%- comment.userId %>">
              <% if (comment.user.name) { %>
                <%- comment.user.name %>
              <% } else { %>
                <%- comment.user.username %>
              <% } %>
            </a>
          </span>

          <% if (comment.wikiLink !== "undefined") { %>
            <span class="comment-content"><a target="_blank" href="<%- _.unescape(comment.wikiLink) %>"><%- comment.value %></a></span>  
          <% } else { %>
            <span class="comment-content"><%- comment.value %></span>
          <% } %>
          <br/>
          <time class="timeago comment-created-at" datetime="<%- comment.createdAt %>"><%- comment.createdAt %></time>
          -
          <a href="#" class="reply-to" data-comment-id="<%- comment.id %>">Reply</a>
          
          <ul>
          <% _.each(comment.children, function (childComment) { %>
            <li><%- childComment.value %></li>
          <% }); %>

          </ul>

        </div> <!-- /comment-inner -->

      </li>
      <% }); %> <!-- /topic.comments -->
    
    <div class="comment-form-wrapper" id="comment-topic-<%- topic.id %>"></div>
  </ul>
    <% }); %> <!-- /comments -->
  <% } %>

</div>
