<div class="box-pad-lr border-bottom">
  <h2>Discussion
  <% if (user) { %>
  <button class="btn btn-c0 btn-sm file-add new-topic" id="project-topic-new">New Topic</button>
  <% } %>
  </h2>
</div>
<div class="box-pad-lr box-pad-t topic-form-wrapper"></div>
<div class="comment-spinner fullwidth text-center">
  Loading discussion... <i class="icon-spinner icon-spin"></i>
</div>
<ul id="comment-list-null">
  <li class="comment-item clearfix border-left box-pad-lr" id="comment-empty" style="display:none;">
    No discussion yet.  Start a topic!
  </li>
</ul>
