<div class="comment-list-wrapper">
  <ul class="comment-list">
    <% if (!comments) { %>
    <% } else { %>
    <% _.each(comments, function (comment) { %>
      <li class="comment-item clearfix" style="background: #eee; margin-top: 10px;">
          <div class="comment-image">
            <div class="project-people-div" data-userid="<%- comment.userId %>">
              <img src="/user/photo/<%- comment.userId %>" class="comment-image"/>
            </div>
          </div>

        <div class="comment-inner">

          <% if (comment.user.name) { %>
            <span class="user-username">
              <a href="#" class="comment-user-link" data-userid="<%- comment.userId %>">
                <%- comment.user.name %>
              </a>
            </span>
          <% } else { %>
            <span class="user-username">
              <a href="#" class="comment-user-link" data-userid="<%- comment.userId %>">
                <%- comment.user.username %>
              </a>
            </span>
          <% } %>
          &nbsp;
          <span class="comment-content"><%- comment.value %></span>
          <br/>
          <time class="timeago comment-created-at" datetime="<%- comment.createdAt %>"><%- comment.createdAt %></time>
          -
          <a href="#" class="reply-to" data-comment-id="<%- comment.id %>">Reply</a>
          
          <ul>  
          <% _.each(comment.children, function (childComment) { %>
            <li><%- childComment.value %></li>
          <% }); %>

          </ul>

        </div> <!-- /comment-inner -->

      </li>   
    
    <% }); %>

    <% } %>
  </ul>
</div>

