<li class="comment-item clearfix">
  <div class="comment-content">
  <% if ( currentUser && currentUser.isAdmin ) { %>
    <a href="#" class="delete-comment" data-commentid="<%- commentId %>"><span class='fa fa-times'></span></a>
  <% } %>
    <div class="comment-image">
      <div class="project-people-div" data-userid="<%- userId %>">
        <img src="/api/user/photo/<%- userId %>" alt="<%- user.name %>" class="project-people" />
      </div>
    </div>

    <div class="comment-inner <% if (topic) { %>topic<% }%>">
      <span class="user-username" data-userid="<%- userId %>">
        <a href="#" class="comment-user-link" data-userid="<%- userId %>">
          <% if (user.name) { %>
            <%- user.name %>
          <% } else { %>
            <%- user.username %>
          <% } %>
        </a>
      </span>
      <a name="comment-<%- id %>"></a>
      <% /* Escaped with marked() */ %>
      <span id="comment-id-<%- id %>"><%= valueHtml %></span>

      <div class="comment-metadata">
        <time class="timeago comment-created-at" datetime="<%- createdAt %>"><%- createdAt %></time>
        <% if (currentUser) { %>
        &bull;
        <a href="#reply-to-comment" class="reply-to-<%- id %>" data-depth="<%- depth %>" data-commentid="<%- id %>" data-authorid="<%- userId %>" data-commentauthor="<% if (user.name) { %><%- user.name %><% } else { %><%- user.username %><% } %>">Reply</a>
        <% } %>
      </div>
    </div>
  </div>
</li>
