<li class="comment-item c3-bg white clearfix" data-topic="true">
  <div class="comment-image">
    <img src="/user/photo/<%- topic.userId %>" class="comment-image"/>
  </div>

  <div class="comment-inner">

    <span class="user-username" data-userid="<%- topic.userId %>">
      <a href="#" class="comment-user-link" data-userid="<%- topic.userId %>">
        <% if (topic.user.name) { %>
          <%- topic.user.name %>
        <% } else { %>
          <%- topic.user.username %>
        <% } %>
      </a>
    </span>

    <% if (topic.wikiLink !== "undefined") { %>
      <span class="comment-content"><a target="_blank" href="<%- _.unescape(topic.wikiLink) %>"><%- topic.value %></a></span>
    <% } else { %>
      <span class="comment-content"><%- topic.value %></span>
    <% } %>
    <br/>

    Started at <time class="timeago comment-created-at" datetime="<%- topic.createdAt %>"><%- topic.createdAt %></time>

  </div>
</li>

<!-- $el/container for this topic's comments -->
<ul class="comment-list-<%- topic.id %>">
</ul>
