.project-header-wrapper {
  width: 100%;
  padding: 17px;
  position: relative;
}

@media (min-width: 992px) {
  #project-coremeta-wrapper {
    min-height: 323px;
  }
}

@media (min-width: 1170px) {
  #project-coremeta-wrapper {
    min-height: 390px;
  }
}

#project-header {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  /* % of width, defines aspect ratio*/
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.project-description {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5em;
  word-wrap: break-word;
}

.project-status {
  padding-left: 10px;
  padding-bottom: 10px;
}


/* project owner styles */

a.delete-projectowner,
a.delete-volunteer {
  position: absolute;
  right: -2px;
  top: -2px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 3px;
  border: 1px solid #c0c0c0;
  color: #666;
  font-size: 7px;
}

.projectowner-add {
  float: right;
  margin-left: 5px;
  margin-top: -3px;
  text-transform: none;
}

a.delete-project-event {
  float: right;
  top: -2px;
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: 1px solid #c0c0c0;
  color: #666;
  font-size: 7px;
  width: 12px;
  height: 12px;
  padding: 0px 3px;
}

.project-comments {
  margin-bottom: 20px;
}

.project-people-div {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.project-people-div img {
  height: 40px;
  width: 40px;
  max-height: 40px;
  border-radius: 25px;
}

.project-people-show-div {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  vertical-align: top;
  padding: 0px 3px 0px 3px;
  width: 70px;
}

.project-people-show-div img {
  height: 40px;
  width: 40px;
  max-height: 40px;
  border-radius: 25px;
}

.project-people-show-label {
  font-size: 11px;
  color: #606060;
  font-weight: 300;
  display: block;
  max-width: 70px;
}

.project-people-space {
  position: relative;
  display: inline-block;
}

.project-people-space > .bar {
  width: 1px;
  height: 30px;
  max-height: 30px;
  background-color: #297BB5;
  margin: 5px 0px;
}

.project-people-popover {
  max-height: 60px;
  border-radius: 35px;
  margin-right: 10px;
}

.project-contributors {
  margin-bottom: 20px;
}

.project-contributors > .popover > .popover-content > .popover-spinner {
  font-size: 30px;
  text-align: center;
}

.project-contributors > .popover > .popover-content > .popover-spinner > .loading {
  font-size: 14px;
}

.popover-table {
  display: table;
  width: 100%;
}

.popover-row {
  display: table-row;
  width: 100%;
  clear: both;
}

.popover-cell-left,
.popover-cell-right {
  display: table-cell;
  float: left;
}

.popover-cell-left {
  width: 70px;
}

.popover-cell-right {
  width: 288px;
}

.popover-image {
  height: 60px;
  width: 60px;
  border-radius: 35px;
  margin-right: 10px;
}

body > .popover {
  width: 390px;
  max-width: 390px;
  min-height: 100px;
  max-height: 200px;
  margin-bottom: 20px;
}

.popover-person {
  font-size: 12px;
}

.popover-person > .title {
  font-size: 16px;
  font-weight: 500;
}

.popover-person > .text-line {
  height: 1.5em;
  overflow: hidden;
}

.project-admin {
  text-align: right;
  padding-left: 15px;
}

.project-admin-title {
  position: absolute;
  top: 5px;
  font-size: 15px;
}

.project-admin-select {
  width: 100%;
  padding-left: 4px;
}

.project-admin-state {
  text-align: center;
  font-size: 24px;
}

#project-admin-bar {
  position: relative;
}

#file-upload-progress-container {
  margin-top: 10px;
  margin-bottom: 0;
}

#project-header > .fileinput-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
