/*****************
=  GLOBAL
******************/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../fonts/lato-300.woff) format('woff');
}
/*
LATO 400 not used for anything right now
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/lato-400.woff) format('woff');
}
*/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/lato-700.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/roboto-300.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(../fonts/roboto-400.woff) format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(../fonts/roboto-700.woff) format('woff');
}

body {
	background-color: #e5e5e5;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

#footer {
	font-size: 11px;
	padding-bottom: 3px;
}

.clear {
	clear: both;
}

input {
	padding: 0 0 0 5px;
}

/* Override bootstrap's .row margins for mobile & tablet */
@media (max-width: 978px) {
	.row {
		margin-left: 0;
		margin-right: 0;
	}
}

.navbar-toggle {
	margin-top: 18px;
}

.search-result-row:hover {
	background: #ccc;
}

.seperator {
	margin: 10px 0 10px 0;
}

.search-result-row {
	min-width: 200px;
	height: 40px;
	background: #eee;
	border-bottom: 1px #000 solid;
}

.box {
	padding: 10px 0;
	margin-bottom: 10px;
	background-color: #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.box-main {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.box-pad-lr {
	padding-left: 20px;
	padding-right: 20px;
}

.box-pad-t {
	padding-top: 10px;
}

.box-pad-b {
	padding-bottom: 10px;
}

.box-icon-text {
	margin-left: 5px;
}

.border-none {
	border: 0;
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.border-left {
	border-left: 2px solid #e5e5e5;
}

.padding-none {
	padding: 0;
}

.padding-left-none {
	padding-left: 0;
}

.padding-right-none {
	padding-right: 0;
}

.fullwidth {
	width: 100%;
}

.align-right {
	text-align: right;
}

.select2-container-multi .select2-choices .select2-search-choice {
	margin: 5px 0 3px 5px;
}

.select2-container-multi .select2-choices {
	border-color: #ccc;
	border-radius: 3px;
}

/*****************
=  HEADERS
******************/

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	font-family: 'Lato', 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 300;
}

/*****************
=  NAVBAR
******************/
.navbar .nav .navbar-title-small {
	font-size: 14px;
	font-weight: bold;
}

.navbar .nav .navbar-title-big {
	font-size: 18px;
}

.navbar .nav .divider-vertical {
  background-color: white;
  height: 40px;
  width: 1px;
}

#navbar-profile {
	font-weight: 400;
	font-size: 18px;
}

.navbar-people {
	height: 40px;
	width: 40px;
	max-height: 40px;
	border-radius: 25px;
}

.navbar-1line {
	margin-top: 10px;
	margin-bottom: 5px;
}

.navbar-side {
	padding: 5px;
}

.navbar-side > .nav > li > a {
	padding: 5px 15px;
}

ul.nav-search > li {
	background-color: #eee;
	border-radius: 5px;
	padding: 10px 15px;
	margin-bottom: 3px;
	position: relative;
	display: block;
}

/*****************
=  LOGIN
******************/
.login-oauth {
	width: 100%;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.login-option {
	margin-top: 5px;
	margin-bottom: 5px;
}

.login-form {
	margin: 10px;
	text-align: center;
}

.btn-login {
	width: 100%;
	text-align: center;
}

.btn-login-responsive {
	height: auto;
	max-width: 100%;
}

/*****************
=  TEXT COLORS
******************/
.green {
	color: #a0d468;
}

.gold {
	color: #FFD700;
}

.white {
	color: #FFFFFF;
}

.white a {
	color: #FFFFFF;
}

.white .comment-created-at {
	color: #FFFFFF;
}

/*****************
=  PROFILES
******************/

/*****************
=  PROJECTS
******************/
#projects {
	display: inline-block !important;
}

.project-box {
	width: 240px;
	height: 307px;
	overflow: hidden;
	float: left;
	padding-top: 0;
	margin-right: 20px;
	margin-bottom: 10px;
}

div.project-title {
	padding: 5px 10px 0;
  font-weight: 400;
  font-size: 18px;
}

.project-list-description {
	height: 110px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	overflow: hidden;
	word-wrap: break-word;
}

.project-list-counts {
	padding-top: 10px;
	display: inline-table;
	width: 100%;
}

.project-list-counts-col {
	display: table-cell;
	width: 33%;
}

.project-list-count {
	font-size: 20px;
	line-height: 15px;
	font-weight: bold;
	text-align: center;
}

.project-list-count-text {
	font-size: 12px;
	text-align: center;
}

.project-background-image {
	width: 100%;
	height: 120px;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
}

.project-background-image-default {
	background: url('/images/project_default_browse.png');
}

.nopadding {
	padding-left: 0;
	padding-right: 0;
}

@media (max-width: 768px) {
	.sm-nopadding {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (max-width: 992px) {
	.md-nopadding {
		padding-left: 0;
		padding-right: 0;
	}
	.md-nopadding-left {
		padding-left: 0;
	}
	.md-nopadding-right {
		padding-right: 0;
	}
}

#project-form input {
	margin: 5px 0 5px 0;
}

#project-form > input[type='submit'] {
    outline: none;
}

.project-image {
	margin: 5px 0 0 8px;
}

#browse-search-spinner {
	font-size: 28px;
	margin-top: 30px;
	margin-bottom: 30px;
}

#browse-list {
	padding: 0;
	margin-left: -15px;
}

#browse-list li {
	list-style: none;
}

.browse-buttons {
	/*padding: 0 10px 0 0;*/
	padding: 0;
	text-align: right;
}

/* Correctly show search input and button */
@media (max-width: 768px) {
	.browse-buttons {
		text-align: center;
	}
}

/* Correctly show search input and button */
@media (min-width: 768px) {
	.input-search {
		padding-left: 0;
		padding-right: 0;
	}
	.btn-search {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 768px) {
	.btn-search {
		margin-top: 10px;
		text-align: right;
	}
}

.search-row {
	margin-bottom: 25px;
}

.add-project {
	margin-bottom: 10px;
}
.add-opportunity {
	margin-bottom: 10px;
	margin-left: 10px;
}

a.search-tag-remove:hover {
	text-decoration: none;
}

.search-clear {
	margin-top: 10px;
}

/*****************
=  PROJECT SHOW
******************/

.project-header-wrapper {
	width: 100%;
	padding: 17px;
	position: relative;
}

@media (min-width: 992px) {
	#project-coremeta-wrapper {
		min-height: 323px;
	}
}
@media (min-width: 1170px) {
	#project-coremeta-wrapper {
		min-height: 390px;
/*		max-height: 390px;
		overflow: hidden;
*/	}
}

#project-header {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100% ; /* % of width, defines aspect ratio*/
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.project-description {
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 1.5em;
}

.project-status {
	padding-left: 10px;
	padding-bottom: 10px;
}

/* project owner styles */
a.delete-projectowner {
	position: absolute;
	right: -2px;
	top: -2px;
	background-color: rgb(255,255,255);
	background-color: rgba(255,255,255,0.8);
	border-radius: 10px;
	padding: 3px;
	border: 1px solid #c0c0c0;
	color: #666;
	font-size: 7px;
}

.project-people {
	height: 40px;
	width: 40px;
	max-height: 40px;
	border-radius: 25px;
	vertical-align: baseline;
}

.project-comments {
	margin-bottom: 20px;
}

.project-people-div {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.project-people-space {
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	display: inline-block;
}

.project-people-space > .bar {
	width: 1px;
	height: 40px;
	max-height: 40px;
	background-color: #f0f0f0;
}

.project-people-popover {
	max-height: 60px;
	border-radius: 35px;
	margin-right: 10px;
}

.project-contributors {
	margin-bottom: 20px;
}

.project-contributors > .popover > .popover-content > .popover-spinner {
	font-size: 30px;
	text-align: center;
}

.project-contributors > .popover > .popover-content > .popover-spinner > .loading {
	font-size: 14px;
}

body > .popover {
	width: 350px;
	max-width: 350px;
	min-height: 100px;
	max-height: 200px;
	margin-bottom: 20px;
}

.popover-person {
	font-size: 12px;
}
.popover-person > .title {
	font-size: 16px;
	font-weight: bold;
}

.project-admin {
	text-align: right;
	padding-left: 15px;
}

.project-admin-title {
	position: absolute;
	top: 5px;
	font-size: 15px;
}

.project-admin-select {
	width: 100%;
	padding-left: 4px;
}

.project-admin-state {
	text-align: center;
	font-size: 24px;
}

#project-admin-bar {
	position: relative;
}

#file-upload-progress-container {
	margin-top: 10px;
	margin-bottom: 0;
}

#fileupload {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#project-owners-show {
	margin-top: 10px;
}

/*****************
=  TAGS
******************/
.tag-title {
	margin-top: 10px;
}

.tag-delete {
	cursor: pointer;
}

.select-tags-buttons {
	margin-top: 10px;
}

ul.tags {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.tags > li {
	font-size: 12px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	margin-right: 5px;
	display: inline-block;
}

/*****************
=  LIKES
******************/
.like-row {
	text-align: center;
	width: 100%;
}

.like-content {
	font-size: 18px;
}

.like-number {
	font-size: 32px;
	font-weight: 700;
}

.like-buttons {
	margin-top: 7px;
}

a.like-button {
	font-size: 22px;
	vertical-align: text-bottom;
	text-decoration: none;
}

a.like-button:hover {
	text-decoration: none;
}

/*****************
=  EVENTS
******************/
.event, .task {
	width: 100%;
	padding: 8px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 14px;
	margin-bottom: 5px;
}

.event:hover, .task:hover {
	background-color: #f0f0f0;
}

.event-scroll {
	max-height: 250px;
	overflow-y: auto;
}

.event-button {
	margin-top: 5px;
	margin-right: 15px;
}

.event-title {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8em;
}

.event-description {
	padding-bottom: 5px;
}

.event-tag {
	font-size: 11px;
	color: #606060;
}

.event-icon-center {
	width: 10px;
	display: inline-block;
	text-align: center;
}

.event-timezone {
	font-size: 12px;
}

.event-timezone > .timezone {
	font-weight: bold;
}

#event-start,
#event-end,
#div-event-start-time > input.fullwidth,
#div-event-end-time > input.fullwidth {
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}

/*****************
=  FILES
******************/
.file-tag {
	padding: 3px;
	font-size: 10px;
}

.file-uploader {
	font-size: 11px;
	text-align: right;
}

.file-add {
	float: right;
	margin-right: 10px;
	margin-top: -3px;
	text-transform: none;
}

/*****************
=  COMMENTS
******************/
.topic {
	clear: both;
	/*background-color: #f0f0f0;*/
}

li[data-topic='true'] {
	cursor: pointer;
	cursor: hand;
}

ul.comment-list > li {
	list-style: none;
	position: relative;

}

.comment-sublist-wrapper {
	margin-left: 40px;
}

.comment-list-wrapper ul {
	margin: 0;
	padding: 0;
	/*padding-top: 10px;*/
	list-style-type: none;
}

.comment-form {
	margin-left: 40px;
	margin-bottom: 10px;
}

.comment-form-topic {
	margin-bottom: 20px;
}

li.border-left {
	margin-bottom: 5px;
}

.add-comment-button {
	float: right;
}

.user-username {
	font-weight: bold;
}

.comment-metadata {
	font-size: 10px;
	padding-top: 3px;
}

.comment-created-at {
	color: #858585;
}

.comment-content {
	padding-top: 5px;
	padding-bottom: 5px;
	position: relative;
}

.comment-item {
	width: 100%;
	overflow: hidden;
	display: inline-table;
	padding-top: 5px;
}

.comment-image {
	float: left;
	display: table-cell;
	vertical-align: top;
	max-height: 40px;
	max-width: 40px;
	height: 40px;
	width: 40px;
}

.comment-inner {
	padding: 5px;
	display: table-cell;
	width: 100%;
	vertical-align: top;
}

.comment-alert-empty {
	display: none;
}

.comment-expand, .comment-contract {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.comment-expand > .content, .comment-contract > .content {
	font-size: 10px;
}

.comment-expand {
	display: none;
}

#comment-empty {
	padding-top: 10px;
	padding-bottom: 10px;
}

/*****************
=  TASK LIST
******************/
.task-box {
	width: 240px;
	height: 307px;
	overflow: hidden;
	float: left;
	padding-top: 0;
	margin-right: 20px;
	margin-bottom: 10px;
	position: relative;
}

.task-list-table {
	display: inline-table;
	width: 100%;
}

.task-list-title {
  display: table-cell;
	padding: 5px 10px 0;
  font-weight: 400;
  font-size: 18px;
  width: 100%;
}

.task-list-person {
	display: table-cell;
	height: 50px;
	padding: 10px;
	width: 60px;
}

.task-list-description {
	max-height: 110px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	font-size: 13px;
	overflow: hidden;
	word-wrap: break-word;
}

/*****************
=  TASKS
******************/
.task-scroll {
	max-height: 350px;
	overflow-y: auto;
}

.task-title {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8em;
}

.task-description {
	padding-bottom: 5px;
}

.task-tags-row {
	width: 100%;
	overflow: none;
	max-height: 28px;
}

ul.task-tags > li {
	background-color: #FFCB32;
	font-size: 10px;
}

.task-show-description {
	font-size: 18px;
	margin-bottom: 10px;
	line-height: 1.5em;
}

.task-edit-description {
	line-height: 2.0em;
}

.task-edit-description > .dropdown {
	margin-top: -7px;
}

#task-edit-form .select2-container-multi {
	line-height: 1.2em;
}

.task-show-creation {
	font-size: 13px;
	color: #9a9a9a;
}

.task-show-creation > time {
	font-weight: bold;
}

/*****************
=  TASKS MADLIBS FORM
******************/
#task-form {
	line-height: 2.1em;
}

#task-form .select2-container-multi {
	line-height: 1.2em;
}

#task-form label {
	font-weight: 300;
}

#task-form .dropdown {
	margin-top: -7px;
}

#task-form input.fullwidth {
	width: 100%;
}

#task-form textarea.fullwidth {
	width: 100%;
}

@media (max-width: 978px) {
	#task-form .col-md-12 {
		padding-left: 0;
		padding-right: 0;
	}
}

#task-form #section-1, #task-form #section-2, #task-form #section-3, #task-form #section-4 {
	min-height: 210px;
}

#task-form #people {
	width: 110px;
}

#task-form #skills-required {
	width: 120px;
}

#task-form #time-estimate {
	width: 168px;
}

#task-form #time-required {
	width: 98px;
}

#task-form #length {
	width: 125px;
}

#task-form #task-location {
	width: 168px;
}

/*****************
=  ATTACHMENTS
******************/
.table-condensed tbody > tr > td.attachment-name {
	width: 100%;
	line-height: 1em;
}

.attachment-name > .timeago {
	font-size: 10px;
	color: #666;
}
