/*****************
=  GLOBAL
******************/
/*
#container {
    width: 960px;
    margin: 0 auto;
}
*/
.clear {
	clear: both;
}

.search-result-row:hover {
	background: #ccc;
}


.seperator {
	margin: 10px 0 10px 0;
}

.search-result-row {
	min-width: 200px;
	height: 40px;
	background: #eee;
	border-bottom: 1px #000 solid;
}

/*****************
=  NAVBAR
******************/

.navbar .nav .navbar-title-small {
	font-size: 14px;
	font-weight: bold;
}

.navbar .nav .navbar-title-big {
	font-size: 18px;
}

.navbar .nav .divider-vertical {
  background-color: white;
  height: 40px;
  width: 1px;
}

.navbar-people {
	max-height: 40px;
	border-radius: 25px;
}

/*****************
=  TEXT COLORS
******************/
.green {
	color: #a0d468;
}

.gold {
	color: #FFD700;
}

.white {
	color: #FFFFFF;
}

.white a {
	color: #FFFFFF;
}

.white .comment-created-at {
	color: #FFFFFF;
}

/*****************
=  HOMEPAGE
******************/
#home .hreo-title {
    text-align: center;
}

/*****************
=  PROJECTS
******************/

#projects {
	display: inline-block !important;
}

.add-project {
	float: right;
}

.project-background-image {
	width: 100%;
	height: 40%;
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.project-background-image-default {
	background: url('http://placehold.it/180x180');
}

.project-list-description {
	height: 110px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 13px;
	overflow: hidden;
	word-wrap: break-word;
}

div.project-title {
	padding: 10px;
  font-weight: bold;
  font-size: 14px;
}

.nopadding {
	padding-left: 0;
	padding-right: 0;
}

#project-form input {
	margin: 5px 0 5px 0;
}

#project-form > input[type='submit'] {
    outline: none;
}

.project-image {
	margin: 5px 0 0 8px;
}

#project-list li {
	list-style: none;
}

.project-box {
	width: 200px;
	height: 250px;
	overflow: hidden;
	border: 1px #aaa solid;
	float: left;

	-webkit-box-shadow: 0 0 4 0 #eee;
				 -box-shadow: 0 0 0 4p 0 #eee;

	border-radius: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
}

/*****************
=  PROJECT SHOW
******************/

.project-header-wrapper {
	width: 100%;
	padding: 17px;
	background-color: #E5E5E5;
	margin-bottom: 25px;
}

#project-header {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100% ; /* % of width, defines aspect ratio*/
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.project-description {
	font-size: 16px;
	column-count: 2;
	column-fill: balance;
	-moz-column-count: 2;
	-moz-column-fill: balance;
	-webkit-column-count: 2;
	-webkit-column-fill: balance;
	margin-bottom: 20px;
	line-height: 1.5em;
}

.project-status {
	padding-left: 10px;
	padding-bottom: 10px;
}

.project-participants {
}

.project-people {
	height: 40px;
	width: 40px;
	max-height: 40px;
	border-radius: 25px;
}

.project-comments {
	margin-bottom: 20px;
}

.project-people-div {
	display: inline-block;
}

.project-people-popover {
	max-height: 60px;
	border-radius: 35px;
	margin-right: 10px;
}

.project-contributors {
	margin-bottom: 20px;
}

.project-contributors > .popover > .popover-content > .popover-spinner {
	font-size: 30px;
	text-align: center;
}

.project-contributors > .popover > .popover-content > .popover-spinner > .loading {
	font-size: 14px;
}

body > .popover {
	width: 350px;
	max-width: 350px;
	height: 80px;
}

.popover-person {
	font-size: 12px;
}
.popover-person > .title {
	font-size: 16px;
	font-weight: bold;
}
.topic {
	clear: both;
}
.project-admin {
	text-align: right;
	padding-left: 15px;
}

.project-admin-title {
	position: absolute;
	top: 5px;
	font-size: 15px;
}

.project-admin-select {
	width: 100%;
	padding-left: 4px;
}

.project-admin-state {
	text-align: center;
	font-size: 24px;
}

#project-admin-bar {
	position: relative;
}

#project-admin-bar #file-upload-progress-container {
	margin-top: 10px;
	margin-bottom: 0;
}

.tag-delete {
	cursor: pointer;
}

.select-tags-buttons {
	margin-top: 10px;
}

ul.tags {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.tags > li {
	font-size: 12px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 5px;
	margin-right: 5px;
	display: inline-block;
}

.project-sidebar > .locations {
	margin-bottom: 10px;
}

/*****************
=  LISTS
******************/
.list-box {
	margin: 0;
}

.list-box > h2 {
	margin-top: 0;
	margin-bottom: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
	padding-left: 15px;
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
}

.list-add {
	float: right;
	margin-right: 10px;
	margin-top: -3px;
	text-transform: none;
}

.list-title {
	padding-top: 10px;
	background: #eee;
	padding-left: 10px;
	margin: 0;
	padding-bottom: 5px;
}

.list-wrapper > ul > li {
	list-style: none;
	margin-top: 10px;
}

.list-page {
	width: 100%;
	border: 1px #ccc solid;
	min-height: 435px;
	max-height: 435px;
	margin-right: 15px;
	float: left;
	-webkit-box-shadow: 0 0 15px #eee;
					box-shadow: 0px 0px 15px #eee;
}

.list-ul {
	padding-right: 5px;
	padding-left: 5px;
}

.list-wrapper {
	float: left;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

.list-wrapper > ul > li {
	list-style: none;
}

.like-content {
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 18px;
}

.like-buttons {
	padding-top: 5px;
}

.like-number {
	font-size: 32px;
	font-weight: bold;
}

#like-button {
	font-size: 22px;
	vertical-align: text-bottom;
	text-decoration: none;
}

/*****************
=  TASKS
******************/
.task {
	font-size: 13px;
}
.task-title {
	font-size: 16px;
	font-weight: bold;
}

.task-description {
	margin-top: 10px;
}

.task-heading {
	margin-top: 10px;
	font-weight: bold;
	font-size: 15px;
}

.task-view {
	margin-top: 10px;
}

#task-list-wrapper {
	margin-top: 20px;
}


/*****************
=  EVENTS
******************/

.event, .task {
	width: 100%;
	padding: 15px;
	padding-left: 11px;
	font-size: 11px;
	border-left: 4px solid;
	margin-bottom: 1px;
}

.event-icon {
	font-size: 18px;
	width: 37px;
	padding-right: 10px;
	padding-left: 10px;
	display: inline-table;
}

.event > .event-title {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.1em;
	margin-bottom: 10px;
}

.event-wrapper {
	display: table-cell;
	vertical-align: top
}

.event-item {
	display: inline-table;
	margin-top: 10px;
}

.event-people {
	vertical-align: middle;
}

.first {
	font-size: 14px;
	padding: 15px;
	border-style: none;
	margin-bottom: 0;
}

.first > .event-title {
	font-size: 16px;
}

.first > .event-item {
	margin-top: 15px;
	display: block;
}

.first > .event-item > .event-icon {
	font-size: 24px;
	padding-right: 12px;
	padding-left: 12px;
	display: inline-table;
}

.first > .event-item > .event-wrapper {
	display: inline-table;
}

.first > .event-item > .event-wrapper > .event-day {
	font-size: 15px;
	font-weight: bold;
}

.first > .event-item > .event-wrapper > .event-time {
	font-size: 10px;
	padding: 0;
}

.first > .event-item > .event-wrapper > .event-location {
	font-size: 12px;
}

.first > .event-item > .event-people {
	margin-top: 10px;
	margin-right: 5px;
	vertical-align: bottom;
}

.event-people-bar {
	margin-top: 15px;
	margin-bottom: 5px;
}

/*****************
=  FILES
******************/

.file-tag {
	padding: 3px;
	font-size: 10px;
}

.file-uploader {
	font-size: 11px;
	text-align: right;
}

.file-add {
	float: right;
	margin-right: 10px;
	margin-top: -6px;
	text-transform: none;
}

/*****************
=  COMMENTS
******************/

.comment-list-wrapper > h4 {
	float: left;
}

li[data-topic='true'] {
	cursor: pointer;
	cursor: hand;
}

ul.comment-list > li {
	list-style: none;
	position: relative;
}

.comment-list-wrapper {
}

ul.comment-list {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 13px;
}

.comment-form-wrapper {
	margin-top: 10px;
}

.add-comment-button {
	float: right;
}

.user-username {
	font-weight: bold;
}

.comment-created-at {
	color: #858585;
}

.comment-content {
}

.comment-item {
	overflow: hidden;
	display: inline-table;
	background: #eee;
	margin-top: 10px;
}

.comment-image {
	float: left;
	margin: 2px;
	display: table-cell;
	vertical-align: top;
}

.comment-image {
	max-height: 40px;
	max-width: 40px;
	height: 40px;
	width: 40px;
}

.comment-inner {
	padding: 5px;
	display: table-cell;
	width: 100%;
	vertical-align: top;
}
