/*****************
=  GLOBAL 
******************/
/*
#container {
    width: 960px;
    margin: 0 auto;
}
*/

.seperator {
	margin: 10px 0 10px 0;
}

/*****************
=  TEXT COLORS
******************/
.green {
	color: #a0d468;
}

.gold {
	color: #FFD700;
}

/*****************
=  HOMEPAGE 
******************/
#home .hreo-title {
    text-align: center;
}

/*****************
=  PROJECTS 
******************/

#projects {
	display: inline-block !important;
}

.add-project {
	float: right;
}

.project-background-image {
	width: 100%;
	height: 40%;
	background-repeat: no-repeat;
	background-size: cover;
}

.project-background-image-default {
	background: url('http://placehold.it/180x180');
}

.project-list-description {
	height: 90px;
	margin: 10px;
	font-size: 13px;
	overflow: hidden;
	word-wrap: break-word;
}

.project-title > a {
	color: #393939;
}

div.project-title {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	font-weight: bold;
	font-size: 14px;
}


h1.project-title {
	width: 100%;
	padding-left: 10px;
	margin-bottom: 0;
	background-color: rgb(230, 230, 230);
	background-color: rgba(255, 255, 255, 0.7);
	color: #393939;
	font-size: 40px;
	font-weight: normal;
	position: absolute;
	bottom: 0;
}

a[class='project'] {
	position: absolute;
	bottom: 5px;
	left: 5px;
}

#project-header {
	padding-top: 10px;
	padding-left: 0;
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
}

.project-admin {
	text-align: right;
	padding-left: 15px;
}

.project-admin-title {
	position: absolute;
	top: 5px;
	font-size: 15px;
}

.project-admin-select {
	width: 100%;
	padding-left: 4px;
}

.project-admin-state {
	text-align: center;
	font-size: 24px;
}

#project-admin-bar {
	position: relative;
}

#project-admin-bar #file-upload-progress-container {
	margin-top: 10px;
	margin-bottom: 0;
}

.nopadding {
	padding-left: 0;
	padding-right: 0;
}

.project-people-bar {
	width: 100%;
	background-color: #303030;
}

.project-people {
	max-height: 40px;
}

#project-form input {
	margin: 5px 0 5px 0;
}

#project-form > input[type='submit'] {
    outline: none;
}

.project-image {
	margin: 5px 0 0 8px;
}

#project-list li {
	list-style: none;
}

.project-box {
	width: 200px;
	height: 250px;
	overflow: hidden;
	border: 1px #aaa solid;
	float: left;

	-webkit-box-shadow: 0 0 4 0 #eee;
				 -box-shadow: 0 0 0 4p 0 #eee;

	border-radius: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
}


/*****************
=  TASKS 
******************/
.list-add {
	float: right;
	margin-right: 10px;
}

.list-title {
	padding-top: 10px;
	background: #eee;
	padding-left: 10px;
	margin: 0;
	padding-bottom: 5px;
}

.list-wrapper > ul > li {
	list-style: none;
	margin-top: 10px;
}

.list-page {
	width: 100%;
	border: 1px #ccc solid;
	min-height: 435px;
	max-height: 435px;
	margin-right: 15px;
	float: left;
	-webkit-box-shadow: 0 0 15px #eee;
					box-shadow: 0px 0px 15px #eee;
}

.list-ul {
	padding-right: 5px;
	padding-left: 5px;
}

.list-wrapper {
	float: left;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

/*
.list-wrapper::-webkit-scrollbar {
	width: 12px;
}

.list-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
					border-radius: 10px;
}

.list-wrapper::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 255, 0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	-webkit-border-radius: 10px;
					border-radius: 10px;
}

.list-wrapper::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(100,50,24,0.4);
}
*/

.list-wrapper > ul > li {
	list-style: none;
}

li.well {
	list-style: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

#task-list {
	overflow-y: scroll;
	overflow-x: hidden;
	min-height: 380px;
}

.like-content {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 20px;
	text-align: center;
}

.like-number {
	font-size: 40px;
	font-weight: bold;
}

/*****************
=  EVENTS
******************/

.event {
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10px;
	background-color: #f0f0f0;
	border-bottom-style: solid;
	border-color: #c0c0c0;
	border-bottom-width: 1px;
}

.first {
	background-color: #fc6e51;
	color: #3c3c3c;
	font-size: 14px;
	border-style: none;
}

.event > .event-title {
	font-size: 14px;
	font-weight: bold;
}

.event > .event-going {
}

.event-next {
	background-color: #e9573f;
	color: #f2f2f2;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 22px;
	padding-left: 5px;
	padding-right: 5px;
}

.first > .event-title {
	font-size: 20px;
	font-weight: bold;
}

.first > .event-date {
	background-color: #f0f0f0;
	border-style: solid;
	border-color: #c0c0c0;
	border-width: 1px;
	margin-top: 10px;
	padding: 6px;
	text-align: center;
}

.first > .event-date > .event-day {
	font-size: 18px;
}

.first > .event-date > .event-time {
	font-size: 14px;
}

.first > .event-description {
	font-size: 10px;
}

/*****************
=  EVENTS
******************/

.about-list {
	min-height: 200px;
}

.file-list {
	margin-top: 20px;
	min-height: 100px;
	padding-bottom: 10px;
}

.file-content {
	padding-right: 5px;
	padding-left: 5px;
}

.file-item {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
}


/*****************
=  COMMENTS
******************/

ul.comment-list > li {
	list-style: none;
	position: relative;
}

.comment-list-wrapper {
	/*margin-left: -25px;*/
}

.comment-list {
	width: 870px;
}

.comment-form-wrapper {
	margin-top: 460px;
}

.add-comment-button {
	float: right;
	margin-top: 10px;
	margin-bottom: -10px;
}

.user-username {
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.comment-created-at {
	font-size: 11px;
	color: #000;
}

.comment-content {
	/*padding: 10px;*/
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

.comment-item {
	overflow: hidden;
}

.user-image > img {
	height: 70px;
	width: 70px;
	margin-bottom: 20px;
}

.comment-inner {
	padding: 20px;
}

.reply-to {
	cursor: pointer;
	cursor: hand;
	font-size: 14px;
	position: absolute;
	bottom: 5px;
}

.project-people-bar {
	width: 100%;
	height: 50px;
	background-color: rgba(0,0,9,0.1);
}

.project-people {
	max-height: 40px;
	border-radius: 25px;
	margin-top: 5px;
	margin-left: 5px;
}