/*****************
=  PROJECTS
******************/
#projects {
  display: inline-block !important;
}

.project-box {
  width: 240px;
  height: 307px;
  overflow: hidden;
  float: left;
  padding-top: 0;
  margin-right: 20px;
  margin-bottom: 10px;
  position: relative;
}

div.project-title {
  padding: 5px 10px 0;
  font-weight: 400;
  font-size: 18px;
}

.project-list-description {
  height: 110px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 13px;
  overflow: hidden;
  word-wrap: break-word;
}
.project-list-bottom-wrapper {
  position: absolute;
  height: 48px;
  bottom: 0;
  background-color: #fff;
  width: 100%;
}

.project-list-counts {
  padding-top: 10px;
  display: inline-table;
  width: 100%;
}

.project-list-counts-col {
  display: table-cell;
  width: 33%;
}

.project-list-count {
  font-size: 20px;
  line-height: 15px;
  font-weight: bold;
  text-align: center;
}

.project-list-count-text {
  font-size: 12px;
  text-align: center;
}

.project-background-image {
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.project-background-image-default {
  background: url('/images/project_default_browse.png');
  background-size: 100% 120px;
}

.task-activity-wrapper th:first-child,
.task-createdactivity-wrapper th:first-child {
  width: 70%;
}

#project-form input {
  margin: 5px 0 5px 0;
}

#project-form > input[type='submit'] {
    outline: none;
}

.project-image {
  margin: 5px 0 0 8px;
}

#browse-search-spinner {
  font-size: 28px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#browse-map {
  display: none;
  padding: 0;
  margin-left: -15px;
}

#browse-list {
  padding: 0;
  margin-left: -15px;
}

#browse-list li {
  list-style: none;
}

.browse-buttons {
  /*padding: 0 10px 0 0;*/
  padding: 0;
  text-align: right;
}

/* Correctly show search input and button */
@media (max-width: 768px) {
  .browse-buttons {
    text-align: center;
  }
}

/* Correctly show search input and button */
@media (min-width: 768px) {
  .input-search {
    padding-left: 0;
    padding-right: 0;
  }
  .btn-search {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .btn-search {
    margin-top: 10px;
    text-align: right;
  }
}

.search-row {
  margin-bottom: 25px;
}

.add-project {
  margin-bottom: 10px;
}
.add-opportunity {
  margin-bottom: 10px;
  margin-left: 10px;
}

a.search-tag-remove:hover {
  text-decoration: none;
}

.search-clear {
  margin-top: 10px;
}

// Import further block modifiers after the initial base styles
// -----------------------------------------------------------------------------
@import 'blocks/project/show';
@import 'blocks/project/tags';
@import 'blocks/project/likes';
@import 'blocks/project/events';
