<form role="form" action="" id="email-form">
  <div class="modal-body">
    <div class="alert alert-warning" style="display:none;"></div>
    <fieldset>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="name@domain.com"/>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-c0" data-dismiss="modal">Cancel</button>
    <input type="submit" class="btn btn-c2" id="submit" value="Add Email Address"/>
  </div>
</form>
