<div class="row">
  <div class="col-lg-12 ">
    <div class="alert alert-danger comment-alert-empty">
      You must enter text before submitting a comment.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 ">
    <form action="" class="comment-submit <% if (form.topic) { %>comment-form-topic<% } %>" role="form" data-depth="<%= form.depth %>">
      <div class="input-group">
        <div class="comment-input form-control input-sm" contentEditable="true"></div>
        <span class="input-group-btn">
          <input class="btn btn-c2 btn-sm" type="submit" value="<% if (form.topic) { %> Post Comment <% } else if (form.depth == 1) { %> Reply <% } else { %>Add Comment<% } %>" title="<% if (form.topic) { %> Post Comment <% } else if (form.depth == 1) { %> Reply <% } else { %>Add Comment<% } %>">
        </span>
      </div>
    </form>
  </div>
</div>
