<li data-value='<%- value %>'>
  <div class="ac-container">
    <% if (image !== null) { %>
    <img src="<%- image %>" alt="<%- value %>" class="ac-image"/>
    <% } else if (target == 'project') { %>
    <img src="/images/project_default.png" alt="<%- value %>" class="ac-image"/>
    <% } else { %>
    <div class="ac-image"></div>
    <% } %>
    <div class="ac-content">
      <div class="ac-title">
        <%- value %>
      </div>
      <div class="ac-description">
        <% if ((target == 'project') || (target == 'user')) { %>
        <% /* Escaped in view and with marked() */ %>
        <%= description %>
        <% } %>
      </div>
    </div>
  </div>
</li>
