<h2 class="sidebar-c1 sidebar-c1-highlight">
  Next Event
  <a href="/event/ical/<%= event.id %>" class="btn btn-c1 btn-xs list-add"><span class="glyphicon glyphicon-calendar"></span> iCal</a>
 <a href="#addEvent" class="btn btn-c0 btn-xs list-add add-event" data-toggle="modal">Add Event</a>
</h2>

<div class="event first sidebar-c1">
  <div class="event-title sidebar-c1-highlight">Presidential Innovation Fellows Demo Day</div>
  <div class="event-description">
    The next demo day will be a chance to see Innovation Toolkit in action.  Please attend to ask questions, provide feedback, and help make Innovation Toolkit better.  Below are the ...
    <a href="#">MORE</a>
  </div>
  <div class="event-item sidebar-c1-highlight">
    <div class="event-icon">
      <i class="icon-calendar"></i>
    </div>
    <div class="event-wrapper">
      <div class="event-day"> October 10, 2013</div>
      <div class="event-time">8:00pm - 10:00pm</div>
    </div>
  </div>

  <div class="event-item sidebar-c1-highlight">
    <div class="event-icon">
      <span class="glyphicon glyphicon-map-marker"></span>
    </div>
    <div class="event-wrapper">
      <div class="event-location">
        General Services Administration
      </div>
      <div class="event-location">
        1800 F Street NW
      </div>
      <div class="event-location">
        Washington, DC
      </div>
    </div>
  </div>

  <div class="event-item sidebar-c1-highlight">
    <div class="event-icon">
      <i class="icon-ok-sign"></i>
    </div>
    <div class="event-wrapper">
      <div class="event-rsvp">
        <button class="btn btn-c1 btn-sm">RSVP</button>
      </div>
    </div>
    <div class="event-people pull-right"><i class="icon-male"></i> 43 people going</div>
  </div>
  <div class="event-people-bar">
    <div class="project-people-div" data-userid="1">
      <img src="/user/photo/1" class="project-people"/>
    </div>
    <div class="project-people-div" data-userid="2">
      <img src="/user/photo/2" class="project-people"/>
    </div>
    <div class="project-people-div" data-userid="3">
      <img src="/user/photo/3" class="project-people"/>
    </div>
    <div class="project-people-div" data-userid="4">
      <img src="/user/photo/4" class="project-people"/>
    </div>
    <div class="project-people-div" data-userid="5">
      <img src="/user/photo/5" class="project-people"/>
    </div>
    <div class="project-people-div" data-userid="6">
      <img src="/user/photo/6" class="project-people"/>
    </div>
  </div>
</div>
</div>
<div class="list-box">
<h2 class="sidebar-c1-light">Upcoming Events</h2>

<% _.each(events, function (event) { %>
  <div class="event sidebar-c1-light sidebar-c1-bar" id="<%= event.id %>">
      
      <div class="event-title">
        <%= event.title %>
      </div>
  
  <div class="event-description">
    <%= event.description %>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="event-item">
        <div class="event-icon">
          <i class="icon-calendar"></i>
        </div>
        <div class="event-wrapper">
          <%= event.start %> - <%= event.end %>
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="event-item">
        <div class="event-icon">
          <span class="glyphicon glyphicon-map-marker"></span>
        </div>
        <div class="event-wrapper">
          <%= event.location %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="event-item">
        <div class="event-icon">
          <i class="icon-male"></i>
        </div>
        <div class="event-wrapper event-people">
          18 people going
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="event-item">
        <div class="event-icon">
          <i class="icon-ok-sign"></i>
        </div>
        <div class="event-wrapper">
          <% if (event.rsvp) { %>
            <button class="btn btn-c1 btn-xs rsvp" disabled="true">RSVP</button>
            <button class="remove-rsvp">x</button>
          <% } else { %>
            <button class="btn btn-c1 btn-xs rsvp">RSVP</button>
          <% } %>
        </div>
      </div>
    </div>

  </div>

  </div> <!-- /event -->

<% }); %>


<!-- <div class="event sidebar-c1-light sidebar-c1-bar">
  <div class="event-title">
    Project Kickoff Meeting
  </div>

  <div class="event-description">
    Please join us for a project kickoff meeting, where we’ll discuss the primary objectives, project milestones, and develop an ... <a href="#">MORE</a>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="event-item">
        <div class="event-icon">
          <i class="icon-calendar"></i>
        </div>
        <div class="event-wrapper">
          October 24, 2013<br/>
          10:00am - 2:00pm
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="event-item">
        <div class="event-icon">
          <span class="glyphicon glyphicon-map-marker"></span>
        </div>
        <div class="event-wrapper">
          1800 F Street NW<br/>
          Washington, DC
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="event-item">
        <div class="event-icon">
          <i class="icon-male"></i>
        </div>
        <div class="event-wrapper event-people">
          18 people going
        </div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="event-item">
        <div class="event-icon">
          <i class="icon-ok-sign"></i>
        </div>
        <div class="event-wrapper">
          <button class="btn btn-c1 btn-xs">RSVP</button>
        </div>
      </div>
    </div>
  </div> -->

</div>