<div class="box-pad-lr border-bottom">
  <h2>
    Upcoming Events
    <% if (user) { %>
    <a href="#addEvent" class="btn btn-c0 btn-sm file-add add-event" data-toggle="modal">Add Event</a>
    <% } %>
  </h2>
</div>

<div class="task-scroll">

  <% if (events.length == 0) { %>

  <div class="event border-left" data-id="null">
    <div class="event-title">
      No events scheduled.
    </div>
  </div>

  <% } else { %>

  <% _.each(events, function (event, iterator) { %>
  <div class="event border-left" data-id="<%= event.id %>">
    <% if (user) { %>
    <div class="event-button pull-right">
      <% if (event.rsvp) { %>
        <button class="btn btn-c2 btn-sm rsvp data-event-flag-true">I'm going.</button>
      <% } else { %>
        <button class="btn btn-c2 btn-sm rsvp data-event-flag-false">RSVP</button>
      <% } %>
    </div>
    <% } %>
    <div class="event-title">
      <%- event.title %>
    </div>
    <div class="event-description">
      <%- event.description %>
    </div>
    <div class="event-tag">
      <i class="icon-calendar"></i>
      <span class="box-icon-text">
      <!-- day -->
      <% var st = new Date(event.start); var et = new Date(event.end); %>
      <%= st.toLocaleDateString() %>
      <% if (st.toLocaleDateString() != et.toLocaleDateString()) { %>
      - <%= et.toLocaleDateString() %>
      <% } %>
      <!-- time -->
      <%= st.toLocaleTimeString() %>
      <% if (st.toLocaleDateString() == et.toLocaleDateString()) { %>
      - <%= et.toLocaleTimeString() %>
      <% } %>
      </span>
    </div>
    <div class="event-tag">
      <span class="glyphicon glyphicon-map-marker"></span>
      <span class="box-icon-text">
      <%= event.location %>
      </span>
    </div>
    <div class="event-tag">
      <span class="event-icon-center"><i class="icon-male"></i></span>
      <span class="box-icon-text event-people">
        <% if (event.rsvp.length == 1) { %>
          1 person going
        <% } else { %>
          <%= event.rsvps.length %> people going
        <% } %>
      </span>
    </div>
  </div>
  <% }); %>

  <% } %>
</div>
