.light { font-weight: 300; }

.bg-fill {
  width: 100%;
  padding-bottom: 100% ; /* % of width, defines aspect ratio*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.project-people {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.project-people-show-label {
  font-weight: normal;
  font-size: 12px;
}

.project-people-show-div {
  width: 70px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0 3px;
}

.volunteer-delete {
  position: absolute;
  right: -2px;
  top: -2px;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 3px;
  border: 1px solid #c0c0c0;
  color: #666;
  font-size: 7px;
}

// copied from old app style, might benefit from refactoring
body > .popover {
  width: 390px;
  max-width: 390px;
  min-height: 100px;
  max-height: 200px;
  margin-bottom: 20px;
}

.popover-table {
  display: table;
  width: 100%;
}
.popover-row {
  display: table-row;
  width: 100%;
  clear: both;
}
.popover-cell-left, .popover-cell-right {
  display: table-cell;
  float: left;
}
.popover-cell-left {
  width: 70px;
}
.popover-cell-right {
  width: 288px;
}

.popover-image {
  height: 60px;
  width: 60px;
  border-radius: 35px;
  margin-right: 10px;
}

.popover-person {
  font-size: 12px;
}
.popover-person > .title {
  font-size: 16px;
  font-weight: 500;
}
.popover-person > .text-line {
  height: 1.5em;
  overflow: hidden;
}
