<div class="modal fade" id="addTask"></div>

<div class="row search-row">
  <div class="col-lg-9">
    <form id="search-form">
      <input type="hidden" id="search" style="width: 90%"/>
      <input type="submit" class="btn btn-c1" value="Search"/>
    </form>
  </div>
  <div class="col-lg-3 align-right padding-none">
    <a href="#addProject" class="btn btn-c2 add-project" data-toggle="modal" style="<% if (!user) { %>display: none;<% } %>"><i class="icon-plus"></i> Project</a>
    <a href="#addTask" class="btn btn-c2 add-opportunity" data-toggle="modal" style="<% if (!user) { %>display: none;<% } %>"><i class="icon-plus"></i> Opportunity</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-9">

    <div id="browse-search-spinner">
      <!-- insert spinner here -->
    </div>
    <ul id="browse-list">
    </ul>
  </div>
  <div class="col-lg-3 box">
    <div class="box-pad-lr border-bottom">
      <h2>Search Criteria</h2>
    </div>
    <div class="box-pad-t">
      <div id="search-none" class="box-pad-lr">
        No criteria specified.
      </div>
      <div id="search-projs-wrapper" class="box-pad-lr">
        <ul id="search-projs" class="nav nav-pills nav-stacked nav-search">
        </ul>
      </div>
      <div class="box-pad-lr">
        <ul id="search-tags" class="nav nav-pills nav-stacked nav-search">
        </ul>
      </div>
      <div class="box-pad-lr search-clear" style="display: none;">
        <div class="align-right">
          <a href="#" id="search-clear" class="btn btn-sm btn-c0"><i class="icon-remove"></i> Clear Search Criteria</a>
        </div>
      </div>
    </div>
  </div>
</div>
