<div class="wrapper-addProject"></div>
<div class="wrapper-addTask"></div>

<div class="row search-row">
  <div class="col-md-3 col-md-push-9 browse-buttons">
    <% if (ui.project.show) { %>
    <a href="#addProject" class="btn btn-c2 add-project" data-toggle="modal" style="<% if (!user) { %>display: none;<% } %>"><i class="fa fa-plus"></i> <span data-i18n="Project">Project</span></a>
    <% } %>
    <a href="#addTask" class="btn btn-c2 add-opportunity" data-toggle="modal" style="<% if (!user) { %>display: none;<% } %>"><i class="fa fa-plus"></i> <span data-i18n="Task">Opportunity</span></a>
  </div>
  <div class="col-md-9 col-md-pull-3">
    <form class="form-horizontal" role="form" id="search-form">

      <div class="form-group row">
        <div class="col-sm-10 col-md-10 col-lg-9 input-search">
          <input type="hidden" id="search" title="Search" style="width: 100%"/>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-3 btn-search">
          <input type="submit" class="btn btn-c1" title="Search" value="Search"/>
        </div>
      </div>

    </form>
  </div>
</div>
<div class="row">

  <div class="col-md-3 col-md-push-9 box">
    <div class="border-bottom box-pad-lr">
      <h2>Filters</h2>
    </div>
    <div class="box-pad-t">
      <% if ( target == "tasks" ) {%>
      <div class="box-pad-lr" id="stateFilters">
        <% _.each(ui.states, function (t) { %>
          <input type='checkbox' name='state<%- t.label %>' class='stateFilter' value='<%- t.value %>'
            <% if ( t.value == "open" ) {%>
              <%- checked="checked" %>
            <% } %>
            > <%- t.label %> <br/>
        <% }); %>
      </div>
      <% } %>
      <div id="search-projs-wrapper" class="box-pad-lr">
        <ul id="search-projs" class="nav nav-pills nav-stacked nav-search">
        </ul>
      </div>
      <div class="box-pad-lr">
        <ul id="search-tags" class="nav nav-pills nav-stacked nav-search">
        </ul>
      </div>
      <div class="box-pad-lr search-clear" style="display: none;">
        <div class="align-right">
          <a href="#" id="search-clear" class="btn btn-sm btn-c0"><i class="fa fa-remove"></i> Clear Search Criteria</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-9 col-md-pull-3">
    <div id="browse-search-spinner" class="fullwidth text-center">
      Loading... <i class="fa fa-spinner fa-spin"></i>
    </div>
    <ul id="browse-list">
    </ul>
  </div>

</div>
