<div data-id="<%- item.id %>" class="col col-12 sm-col-6 md-col-4 px2">
  <div class="box task-box">

    <div class="task-list-title task-title-overflow-multi">
      <a href="/tasks/<%- item.id %>" class="link-backbone c1">
        <%- item.title %>
      </a>
    </div>

    <div class="task-list-description task-desc-overflow-multi">
      <% /* Escaped by marked() */ %>
      <%= item.descriptionHtml %>
    </div>

    <div class="task-list-bottom">
      <% if (!tags["location"]) { %>
        <div class="task-list-tags c0 task-single-overflow">
          <i class="task-list-icon-center fa fa-map-marker %>"></i>
          Virtual
        </div>
      <% } %>

      <% _.each(tagShow, function (tagType) { %>
        <% if (tags[tagType]) { %>
        <div class="task-list-tags c0 task-single-overflow">
          <i class="task-list-icon-center <%- tagConfig.tags[tagType].icon %>"></i>
          <% _.each(tags[tagType], function (t, i) { %>
            <% if (t.type == 'skill') { %>
              <a href="/tasks?search=<%- t.name %>"><%- t.name %></a><% if (i + 1 < tags[tagType].length) { %>,<% } %>
            <% } else { %>
              <%- t.name %><% if (i + 1 < tags[tagType].length) { %>,<% } %>
            <% } %>
          <% }); %>
        </div>
        <% } %>

      <% }); %>
    </div>

    <div class="task-list-bottom-person">
      <div class="task-list-person">
        <div class="project-people-div float-left" data-userid="<%- item.owner.id %>" style="text-align: right;">
          <img src="/api/user/photo/<%- item.owner.id %>" class="project-people" width="30"/>
        </div>
        <div class="task-list-requestbox">
          <div class="task-list-requested">requested by</div>
          <div class="task-list-name"><%- item.owner.name %></div>
          <% if (item.restrict) { %>
          <div class="task-list-agency task-single-overflow"><%- item.restrict.name %></div>
          <% } %>
        </div>
      </div>
    </div>

  </div>
</div>
