<li data-id="<%- item.id %>" class="box task-box">

    <div class="task-list-title dotdotdot dotactive">
      <a href="/tasks/<%- item.id %>" class="link-backbone c1">
        <%- item.title %>
      </a>
    </div>

  <div class="task-list-description dotdotdot dotactive">
    <%= item.descriptionHtml %>
  </div>

  <div class="task-list-bottom border-top">

    <% _.each(tagShow, function (tagType) { %>

      <% if (tags[tagType]) { %>
      <div class="task-list-tags dotdotdot c0 dotactive">
        <i class="task-list-icon-center <%= tagConfig.tags[tagType].icon %>"></i>
        <% _.each(tags[tagType], function (t, i) { %>
          <%= t.name %><% if (i + 1 < tags[tagType].length) { %>,<% } %>
        <% }); %>
      </div>
      <% } %>

    <% }); %>

  </div>
  <div class="task-list-bottom-person border-top">
    <div class="task-list-person">
      <div class="project-people-div float-left" data-userid="<%= item.userId %>" style="text-align: right;">
        <img src="/api/user/photo/<%= item.userId %>" class="project-people"/>
      </div>
      <div class="task-list-requestbox">
        <div class="task-list-requested">requested by</div>
        <div class="task-list-name"><%- item.user.name %></div>
        <% if (item.user.agency) { %>
        <div class="task-list-agency dotdotdot dotactive"><%= item.user.agency.tag.name %></div>
        <% } %>
      </div>
    </div>

  </div>

</li>