<div class="box-pad-lr border-bottom">
  <h2><span data-i18n="ProjectOwnerPlural">Project Owners</span>
    <button id="owner-edit" name="owner-edit" class="btn btn-c0 btn-sm file-add owner-form-toggle">Add Owners</button>
  </h2>
</div>

<div id="project-owners-form" class="box-pad-lr box-pad-t owner-form-toggle clearfix">
  <form class="" role="form">
    <div class="form-group">
      <input style="width: 100%" id="owners" name="owners" type="hidden" value="Add Owner"/>
    </div>
  </form>
  <button id="owner-save" name="owner-save" class="btn btn-c2 btn-sm projectowner-add owner-form-toggle">Submit</button>
  <button id="owner-cancel" name="owner-cancel" class="btn btn-c0 btn-sm projectowner-add owner-form-toggle">Cancel</button>
</div>

<div id="project-owners-show" class="box-pad-lr box-pad-t owner-form-toggle" style="padding: 10px 3px 0px 10px">
  <% if (data.owners) { %>
    <% for (var i = 0; i < data.owners.length; i++) { %>
    <div class="project-people-show-div" data-userid="<%- data.owners[i].userId %>">
      <img src="/api/user/photo/<%- data.owners[i].userId %>" alt="<%- data.owners[i].name %>"/>
      <label class="project-people-show-label"><%- data.owners[i].name %></label>
      <% if ((data.isOwner || user.isAdmin) && (data.owners[i].userId != cache.currentUser.id) && data.edit) { %>
      <a href="#" class="delete-projectowner project-owner-delete fa fa-times"  id="delete-projectowner-<%- data.owners[i].id %>" data-uid="<%- data.owners[i].userId %>" data-poid="<%- data.owners[i].id %>">
      </a>
      <% } %>
    </div>
    <% } %>
  <% } %>
</div>
