<h4>Project Owners
<button class="btn btn-c3 btn-sm file-add owner-form-toggle" id="owner-edit" name="owner-edit" >Edit Owners</button>
<button id="owner-cancel" name="owner-cancel" class="btn btn-c3 btn-sm file-add owner-form-toggle">Cancel</button>
<button id="owner-save" name="owner-save" class="btn btn-c3 btn-sm file-add owner-form-toggle">Save</button>
</h4>

<div id="project-owners-form" class="owner-form-toggle">
  <form action class="" role="form">

    <div class="form-group">
    <!--<label for="participants" class="col-lg-3 control-label">Participants</label>-->
      <!--<div class="participant-form form-control input-sm select2-input" id="participant-text" contenteditable="true"></div>-->
      <div class="col-lg-9">
        <input style="width: 100%" id="owners" name="owners" type="hidden" value=" Add Owner " />

      </div>
    </div>


  </form>
</div>


<div id="project-owners-show" class="owner-form-toggle">
  <% if (data.owners) { %>
    <% for (var i = 0; i < data.owners.length; i++) { %>
    <div class="project-people-div" data-userid="<%= data.owners[i].userId %>">
      <img src="/api/user/photo/<%= data.owners[i].userId %>" class="project-people"/>
      <!--<a href="#" class="delete-projectowner"  id="delete-projectowner-<%= data.owners[i].id %>" data-poid="<%= data.owners[i].id %>">X</a>-->
    </div>
    <% } %>
  <% } %>
</div>