<div class="modal fade" id="addProject">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Project</h4>
      </div>

      <div class="modal-body">

				<form action="" id="project-form">
				    <fieldset>
				        <input type="text" class="project-name form-control" placeholder="Project name" />
				        <div class="clearfix"></div>
				        <input type="text" class="project-description form-control" placeholder="Project description" />
				        <div class="clearfix"></div>
				        <input type="submit" class="btn btn-primary pull-right" id="submit" value="Add"/>
				    </fieldset>
				</form>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->