<div class="page-header">
    <h1>Project Listings</h1>
</div>

<form action="" id="project-form">
    <fieldset>
        <input type="text" class="project-name form-control" placeholder="Project name" />
        <div class="clearfix"></div>
        <input type="text" class="project-description form-control" placeholder="Project description" />
        <div class="clearfix"></div>
        <input type="submit" class="btn btn-primary pull-right" id="submit" value="Add"/>
    </fieldset>
</form>

<ul>
    <% _.each(projects, function(project) { %>
        <li data-project-id="<%- project.id %>">
            <a class="project" style="cursor: pointer; cursor: hand;"><%- project.title %></a> <br />
            <%- project.description %>
        </li>
    <% }); %>
</ul>
<div id="addTasks" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add Tasks</h3>
    </div>

    <div class="modal-body">
        <form action="">
            <input type="text" class="form-control"/>
            <input type="submit" style="display: none;" />
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>
