<div class="row">
  <% if (data.get("coverId")) { %>
  <div class="col-12" id="project-header" style="background-image:url('/file/get/<%= data.get("coverId") %>');">
  <% } else { %>
  <div class="col-12" id="project-header">
  <% } %>
    <h1 class="project-title"><%= data.get("title") %></h1>
    <% if (data.get("isOwner")) { %>
    <div id="fileupload" class="btn btn-primary"><i class="icon-camera icon-large" title="Change Cover Photo"></i></div>
    <div id="file-upload-progress-container" style="display: none;" class="progress progress-striped active">
      <div id="file-upload-progress" class="progress-bar" style="width: 0"></div>
    </div>
    <% } else { %><div id="fileupload" style="display: none;"></div><% } %>
  </div>
</div>
<div class="row">
  <div class="col-12 nopadding">
    <div class="project-people-bar">
      <% for (var i = 0; i < data.get("owners").length; i++) { %>
      <img src="/user/photo/<%= data.get("owners")[i].userId %>" class="project-people"/>
      <% } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="project-description">
      <div><%= data.get("description") %></div>
    </div>

    <hr />

    <div class="task-list-wrapper"></div>

    <div class="event-list-wrapper">
      <h3>Events</h3>
    </div>

    <hr />

    <div class="comment-form-wrapper"></div>

    <div class="comment-list-wrapper"></div>
  </div>
</div>