<form role="form" action="" id="tag-form">
  <div class="modal-body">
    <fieldset>
      <div class="form-group">
        <label for="tag-form-type">Tag Type</label>
        <select id="tag-form-type" name="tag-form-type" class="form-control">
          <% for (var i = 0; i < tags.length; i++) { %>
          <option value="<%- tags[i].type %>"><%- tags[i].name %></option>
          <% } %>
        </select>
      </div>
      <div class="form-group">
        <label for="tag-form-name">
          Tag Name
        </label>
        <input type="text" class="form-control" id="tag-form-name" name="tag-form-name" placeholder="Tag Name" data-validate="empty,count100"/>
        <span class="help-block error-empty" style="display:none;">You must enter a tag name.</span>
        <span class="help-block error-count100" style="display:none;">Tags must be less than 100 characters in length.</span>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-c0" data-dismiss="modal">Cancel</button>
    <input type="submit" class="btn btn-c2" id="submit" value="Create Tag"/>
  </div>
</form>
