/*****************
=  TASK LIST
******************/

.task-scroll .task {
    overflow-y: hidden;
}

.task-box {
    padding: 0;
    height: 307px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.task-list-title {
    padding: 5px 10px 0;
    font-weight: 400;
    font-size: 16px;
    max-height: 50px;
}

.task-list-description {
    max-height: 95px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 13px;
    word-wrap: break-word;
}

.task-list-bottom {
    position: absolute;
    top: 145px;
    width: 100%;
    padding: 5px 10px 0;
}

.task-list-bottom-person {
    position: absolute;
    width: 100%;
    padding: 10px 10px 5px;
    bottom: 0;
}

.task-list-requestbox {
    padding-left: 45px;
    line-height: 0.95em;
    height: 44px;
    overflow: none;
}

.task-list-requested {
    font-size: 10px;
    font-style: italic;
    color: #9A9A9A;
}

.task-list-name {
    font-size: 14px;
}

.task-list-agency {
    font-size: 11px;
    color: #505050;
    max-height: 14px;
}

.task-list-icon-center {
    width: 15px;
    display: inline-block;
    text-align: center;
}

.task-list-tags {
    font-size: 12px;
    max-height: 28px;
    color: #505050;
}

.float-left {
    float: left;
}

%task__label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    color: #fff;
    border-radius: 0.25em;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.task__label--assigned {
    @extend %task__label;
    background-color: #2E8540;
}

.task__label--archived {
    @extend %task__label;
    background-color: #777;
}

.task__label--completed {
    @extend %task__label;
    background-color: #777;
}

.task__label--submitted {
    @extend %task__label;
    background-color: #065289;
}

.task__label--open {
    @extend %task__label;
    background-color: #2E8540;
}

.task__label--draft {
    @extend %task__label;
    background-color: #E31C3D;
}

// Tab Pane Styles
// @appears Tab Panes appear in the Administration Tasks panel
//
.metrics-table {
    tr:nth-child( even) {
        background: darken( #fff, 2.5%);
    }
    td {
        padding: 10px;
    }
    thead {
        border-bottom: 1px solid #e3e3e3;
        margin-bottom: 10px;
    }
}

.metrics-table__header {
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
}

.metrics-table__label {
    text-align: center;
    a {
        width: 100%;
        display: block;
    }
}

.metrics-table__title {
    width: 80%;
}

.metrics-table__author {
    width: 20%;
}

.metrics-table__button {
    text-align: center;
    font-size: 16px;
    a {
        padding-right: 10px;
    }
}
