<h1>Project: <%- projectTitle  %></h1>
<p>Description: <%- projectDescription  %></p>
<p>Your colleague wanted to let you know about this great project. Click on the link to find out more.</p>
<p><%- projectLink  %></p>
