<p>Dear <%= metadata.recipient.name %>,</p>

<p>Thank you for submitting an Open Opportunity.  Someone from our team will review your description and may post it right away or recommend improvements.</p>

<p>
  Thanks!
  <br/>
  - The <%= globals.systemName %> Team
</p>
