<div class="list-page">
  
  <h3 class="list-title">Opportunities
    <a href="#addTask" class="btn btn-default btn-xs list-add add-task" data-toggle="modal">Add Task</a>
  </h3>

  <div id="task-list">
    <ul class="list-ul">
      <% _.each(tasks, function(task) { %>
        <li class="well">
          <strong><%- task.title %></strong>
          <br>
          <%- task.description %>
        </li>
      <% }) %>
    </ul>
  </div>
</div> <!-- /task-list-page -->

<div class="list-form-wrapper" id="task-form-wrapper">
</div>

     
