<h2 class="sidebar-c3 sidebar-c3-highlight">
  Available Opportunities
  <a href="#addTask" class="btn btn-c0 btn-xs list-add add-task" data-toggle="modal">Add Opportunity</a>
</h2>

<% _.each(tasks, function(task) { %>
  <div class="task sidebar-c3-light sidebar-c3-bar" data-id="<%= task.id %>">
    <div class="task-title">
      <a href="" class="show-task"><%- task.title %></a>
    </div>
    <div class="task-description">
      <%- task.description %>
    </div>
    <div class="task-heading">
      Tags
    </div>
    <div class="skills">
      <ul class="tags">
        <% _.each(task.tags, function (tag) { %>
          <%= tag.tag.name %> &nbsp;&nbsp;
        <% }); %>
      </ul>
    </div>
    <div class="row task-view">
      <div class="col-lg-12">
        <div class="pull-right">
          <button class="btn btn-c3 btn-sm">View Opportunity</button>
        </div>
      </div>
    </div>
  </div>
<% }) %>
