<h1>Opportunity: <%- taskTitle %></h1>
<p>Someone replied to you! Click the link below to see the entire discussion.</p>
<p><%- taskLink %></p>
<p>Comment: <%- parentComment %></p>
<p>New Reply: <%- callerComment  %></p>
